.ES-row-btn-width {
  width: 65px;
}

.ES-row-btn {
  min-height: 30px;
  height: 30px;
  min-width: 65px;
  width: 65px;
  line-height: 1;
  padding: 0 2px;
  margin: 3px 0 0;
}

.event-schedule-checkbox-td {
  text-align: center;
}

.ES-add-new-checkbox {
  margin: 0;
}

.ES-editing-input-row, .ES-input-row {
  md-input-container {
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
  }
}

.ES-created-row {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ES-input-name-container {
  min-width: 95px;
  width: 125px;
  max-width: 125px;
}

.ES-input-description-container {
  min-width: 115px;
  width: 125px;
  max-width: 125px;
}

.ES-input-effective-date-container {
  min-width: 115px;
  width: 115px;
  max-width: 115px;
}

.ES-input-effective-date-container {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
}

.ES-input-final-date-container {
  min-width: 90px;
  width: 90px;
  max-width: 90px;
}

.ES-input-notification-class-container {
  min-width: 250px;
  width: 250px;
  max-width: 250px;
}

.ES-input-event-class-container {
  min-width: 95px;
  width: 95px;
  max-width: 95px;
}

.ES-notify-in-n-container {
  min-width: 90px;
  width: 90px;
  max-width: 90px;
}

.ES-periodicity-container {
  min-width: 115px;
  width: 115px;
  max-width: 115px;
}

.ES-periodicity-n-container {
  min-width: 110px;
  width: 110px;
  max-width: 110px;
}

.instrument-event-actions-dialog-view {

  .event-actions-table {

    .e-actions-row-bottom-margin {
      margin-bottom: 15px;
    }

    md-input-container {
      height: 30px;
      box-sizing: border-box;
      margin-left: 0;
      margin-right: 0;
    }

    md-checkbox {
      margin-bottom: 0;
    }

    .e-actions-text-cell {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .e-actions-ttype-cw {
    width: 130px;
  }

  .e-actions-text-cw {
    width: 130px;
  }

  .e-actions-button-position-cw {
    width: 125px;
    text-align: center;
  }
}

.instrument-events-grid-table {

  .grid-table-row {
    cursor: pointer;
    height: auto;
    min-height: 48px;
    font-size: 14px;

    & > div {
      height: auto;
    }

    .gt-cell-multi-lined-text.gt-cell-plain-text {
      .gt-cell-readonly-text {
        span {
          height: auto;
          overflow-y: initial;
        }
      }
    }

    .gt-cell-selector-container {
      padding: 0;
      .gt-cell-selector-holder {
        display: flex;
        align-items: center;
      }
    }

  }

  .grid-table-header-row {
    .grid-table-row-actions-wrap {
      width: 40px;
    }
  }





}