@tnvBackColor: rgba(0, 0, 0, 0.04);
@gFilterFieldBottomBorder: 1px solid rgb(116,116,116);
@gFilterFieldLeftIndent: 9px;
@gFilterFieldsHeight: 40px;

.g-filters-menu-opts() {
	font-size: 14px;
	min-height: 30px;
	height: 30px;
	line-height: initial;
	text-align: left;
	text-transform: initial;
	margin: 3px 8px;
}

//region old group table filters
/*.g-filter-sidebar.additions-sidebar {
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #4C334D;
  }
}

.filter-area-size-btn {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  right: 4px;
  top: 10px;
  background-color: #000000;
}

.g-sidebar-filter-component {

  .area-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .area-title {
      position: relative;
      margin-left: 10px;
    }
  }

  .filters-holder {
    md-select {
      max-width: 116px;
      margin: 0;
    }
  }
}

.g-filter-item {
  padding: 16px 10px 0;
  margin: 8px 0;

  .md-errors-spacer {
    display: none;
  }

  &.f-disabled {
    background-color: rgba(255, 255, 255, .3);

    .table-filter-activity-checkbox .md-icon {
      background: #fff;
    }

    input {
      opacity: .5;
      //pointer-events: none;
    }

    .text-filter-input-options-holder {
      border-color: rgba(63, 81, 181, 0.7);
    }

    .settings-btn {
      opacity: .2;
    }

  }

  md-checkbox {
    margin: 10px 0 0;
  }

  .settings-btn {
    margin-right: 0;
    fill: #767676;
    padding-top: 6px;
    opacity: .5;

    &:hover {
      opacity: 1;
    }

    .md-button {
      width: 30px;
      min-height: 30px;
      height: 30px;
      padding: 2px;
    }
  }

};

.filter-side-nav-collapsed .g-filter-item {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;

  md-tooltip {
    display: block;
  }

  md-checkbox {
    margin: 0;
  }
}


.ev-backend-filter {
  background-color: #ffde89;

  &.f-disabled {
    background-color: rgba(255, 222, 137, 0.4);
  }
}

.link-to-above-filter {
  background-color: #c6dfb5;

  &.f-disabled {
    background-color: rgba(255, 222, 137, 0.4);
  }
}

md-checkbox.g-filter-options-checkbox {
  margin-left: 15px;

  div.md-label {
    margin-left: 17px;
  }

}

.table-filter-input-container {

  md-input-container {
    width: 100%;
    margin: 0 0 10px;

    label, label:not(.md-no-float):not(.md-container-ignore), input {
      box-sizing: border-box;
    }

    input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }

}

.text-filter-select-menu {
  max-height: 390px;

  .md-button {
    .g-filters-menu-opts();
  }
}

.table-filter-select-options {
  position: absolute;
  min-width: 230px;
  max-height: 325px;
  background: #fff;
  right: 140px;
  bottom: 13px;
  padding: 8px 0;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  z-index: 10001;
  border-right: 2px solid;
  border-color: rgba(63, 81, 181);

  md-input-container {
    height: 35px;
    padding: 0 5px;
    margin: 0 0 5px;
    box-sizing: border-box;

    input {
      opacity: 1;
      border-bottom: solid 1px #a6a6a6;
    }
  }

  .table-filter-select-options-holder {
    max-height: 292px;
    overflow: auto;
  }

  .md-button {
    min-height: 30px;
    height: 30px;
    width: 100%;
    padding: 0 16px;
    margin: 0;
    font-size: 12px;
    text-align: left;
  }
}

.table-filter-input-container.text-filter-select {
  position: relative;
}

.rv-filter-link-to-above-btn {
  padding: 0;

  .md-button.use-from-above-btn {
    width: 100%;
    text-align: left;
    //padding-left: 50px;
    margin: 0;
    text-transform: none;
  }
}*/
//endregion old group table filters

.g-filters {
	position: relative;
	height: 0;
	overflow: hidden;
	box-sizing: border-box;
	// transition: max-height 0.5s linear;
	color: @gray;
	font-size: 14px;
	background-color: white;

	&.open-filters {
		height: auto;
		overflow: visible;
	}

	.g-filters-holder {
		// float: left;
		box-sizing: border-box;

		.modal-dialog-card {
			margin: 8px;
			width: 100%;
			min-height: 66px;
		}
	}

	.g-filter-left-part {
		display: flex;
		flex: 0 0 104px;

		&.no-ev-g-filter-switch {
			flex-basis: 52px;
		}
	}

	.g-filters-holder.hide-ev-front-filters {
		.add-chip-wrap {
			display: none;
		}
	}

	.g-filter-settings-big-left-btn {
		display: flex;
		justify-content: center;
	}

	.g-toggle-filters-btn {
		border-radius: 100%;

		&:not([disabled]):hover {
			background-color: @paleOrange;
			color: @orange;
		}

	}

}

.g-filter-chips-wrap {
	// max-width: 800px;
	padding-top: 4px;
}

.g-filter-chips {
	.chip-div {
		max-width: 240px;
		height: 33px;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-bottom: 9px;
		cursor: pointer;

		// Victor 2021.03.26 #85 only active filters must be orange
		&.active {
			background-color: rgba(240, 90, 34, 0.1);
			color: @orange;

			&:hover {
				background-color: @orange;
				color: #fff;

				span.error {
					color: #fff;
				}
			}


			// <Victor 2021.03.26 #85 only active filters must be orange>

		}

		.chip-list-content {
			display: flex;
			flex-direction: row;
			align-items: center;

			.g-filter-chips-text {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.material-icons:not(.error) {
			color: inherit;
		}
	}

	.chip-wrap.use-from-above-filter-chip {

		.chip-div {
			padding-top: 5px;
			padding-bottom: 5px;

			.material-icons {
				margin-right: 5px;
			}

		}

	}

	.chip-wrap:not(.use-from-above-filter-chip) {

		.chip-div {
			padding-top: 9px;
			padding-bottom: 9px;

			.chip-list-content {
				&.custom-field-error {
					padding-left: 5px;
				}
			}
		}

	}

	.add-chip-wrap {

		.chip-div {
			color: @orange;
			background-color: initial;

			&:hover {
				background-color: rgba(240, 90, 34, 0.1);
			}
		}

	}

}

.g-filter-value-containers() {
	margin: 0;
	padding: 0;
	width: 145px;
	height: @gFilterFieldsHeight;
}

.g-filter-popup-content {
	min-width: 380px;

	md-checkbox {
		font-size: 14px;
		margin-bottom: 0;
	}

	/* .filter-input {
		width: 100%;
		height: @gFilterFieldsHeight;
		padding-left: @gFilterFieldLeftIndent;
		padding-bottom: 1px;
		border: none;
		border-bottom: @gFilterFieldBottomBorder;
		box-sizing: border-box;

		&:focus {
			outline: none;
			padding-bottom: 0;
			border-bottom: 2px solid @orange;
		}
	} */


	/*input.g-filter-input {
		.filter-input
	}*/

	.g-filter-tnv-back {
		background-color: @tnvBackColor;
	}

	.multiselector-input-container {

		.custom-input-container {
			margin-bottom: 0;
			background-color: @tnvBackColor;
		}

		.custom-input-borders {
			height: @gFilterFieldsHeight;
			/*border-radius: 0;
			border: none;
			border-bottom: @gFilterFieldBottomBorder;*/
		}

	}

	.g-filter-header {
		padding: 0 2px;

		.g-filter-header-top-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 18px;
			border-bottom: 1px solid @gray;

			md-checkbox {
				font-size: 14px;
				font-weight: bold;
			}
		}

	}

	.g-filter-content {
		padding: 20px;

		.g-filter-value-wrap {
			width: 170px;


			/*md-input-container {
				margin: 0 0;
				max-height: 50px;
			}*/

			/*input:nth-child(2) {
				margin-top: 10px;
			}*/

			/*input {
				.filter-input;
				background-color: @tnvBackColor;
			}*/

			.date-tree {
				md-input-container {
					margin: 0;
					padding: 0;

					input {
						margin-top: 0;
					}
				}

			}

		}

		.g-filter-types-select {
			.g-filter-value-containers();
		}

		.g-filter-value-container {
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;

			input {
				width: 100%;
				height: 100%;
			}

		}

	}

	.g-filter-type-loader {
		height: @gFilterFieldsHeight;
	}

	.g-filter-footer {
		.md-button {
			min-width: 73px;
			width: 73px;
		}
	}

}

.g-filter-select-options-holder {
	min-height: 390px;

	md-option {
		.g-filters-menu-opts();
	}
}

.entity-viewer-holder {

	.g-filters .icon-buttons {
		display: flex;
		justify-content: flex-end;
		flex: 0 0 252px;
		/* display: flex;
				justify-content: flex-end;
				flex: 0 0 191px; */
		//& > div {
		//  width: 252px;
		//}

		.refresh-button-with-progress {
			display: flex;
			justify-content: end;
			width: 60px;
			align-items: center;

			.md-button {
				min-width: 60px;
			}

			progress-circular {
				margin-right: 8px;
			}
		}
	}

}

.report-viewer-holder {

	.g-filter-sidebar {
		display: none;
	}

	.g-filters {

		.md-button.chain-button {
			color: @orange;

			&.g-use-from-above-filters-hidden {
				color: @gray;

				ng-md-icon svg {
					fill: @gray;
				}
			}
		}

	}

	.g-filters .icon-buttons {

		display: flex;
		justify-content: flex-end;
		flex: 0 0 252px;
		/* display: flex;
				justify-content: flex-end;
				flex: 0 0 191px; */
		//& > div {
		//  width: 252px;
		//}

		.refresh-button-with-progress {
			display: flex;
			justify-content: end;
			width: 60px;

			align-items: center;

			.md-button {
				min-width: 60px;
			}

			progress-circular {
				margin-right: 8px;
			}
		}

		//flex: 0 0 252px;
		///* display: flex;
		//    justify-content: flex-end;
		//    flex: 0 0 191px; */
		//& > div {
		//  width: 252px;
		//}
	}

}
