.data-provider-btn-sref {
	min-width: 70px;
	padding-top: 0px;
	ng-md-icon {
		position: relative;
		top: 6px;
	}
}

.instrument-scheme-manager-dialog-view {
	min-width: 75%;
}

.inm-card-special {
	md-input-container {
		margin: 0;
	}
	md-select {
		margin: 12px;
		position: relative;
		top: -10px;
	}
}

/*.instrument-scheme-manager-dialog-view {
	md-input-container {
		margin: 0;
	}
}*/

.instrument-import-manager-dialog-view {
	min-width: 75%;
}

button.md-button.instrument-mapping-btn {
	background: none;
	min-width: 0;
	min-height: 0;
	width: 40px;
	height: 37px;
	padding: 0;
	margin-top: 0;
	&:hover {
		background: none;
	}
}

.automated-uploads-manager-dialog-view {
	min-width: 50%;
}

.fill-price-history-manager-dialog-view {
	min-width: 50%;
	md-tabs-canvas {
		background: #fff;
	}
}

.automated-uploads-manager-dialog-view {
	md-input-container {
		width: 60%;
	}
}

md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
	color: #000;
}

.members-groups-content {
	padding: 0 10px;
}
table.members-groups-table {
	width: 99%;
}
thead.members-groups-thead {
	border-bottom: none;
	th {
		padding: 5px 0;
		text-align: center;
		color: #ffffff;
		border-radius: 0;
		&:not(:last-child) {
			background-color: #4C334D;
		}
	}
}
tbody.members-groups-tbody {
	tr:first-child {
		td:not(:last-child) {
			border-top: 1px solid #d0d0d0;
		}
	}
	tr {
		td {
			text-align: center;
			&:not(:last-child) {
				border-left: 1px solid #d0d0d0;
				border-right: 1px solid #d0d0d0;
				border-bottom: 1px solid #d0d0d0;
				padding: 5px 10px;
			}
			&:last-child {
				width: 5%;
			}
		}
	}
}
.members-groups-delete-btn {
	min-width: 35px;
	width: 35px;
	min-height: 30px;
	height: 30px;
	border: 1px solid #d0d0d0;
	margin-top: 2px;
	margin-bottom: 2px;
}
.add-member-btn {
	float: right;
	text-transform: initial;
}
.create-member-group-dialog {
	min-width: 400px;
}
.create-member-dialog-content {
	padding-top: 20px;
}
.members-groups-name {
	min-width: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	line-height: normal;
	color: rgb(63,81,181);
	text-decoration: underline;
	text-transform: none;
	&:hover {
		text-decoration: none;
	}
}
.manage-member-dialog-content {
	padding: 10px 20px;
}

.sett-data-prov-choose-file {
	margin-bottom: 20px;
	h4 {
		margin-bottom: 5px;
		margin-left: 8px;
		font-weight: 400;
	}
	input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	label {
		padding: 5px 10px;
	}
}