/* Default to light mode */
:root {
  /* Light mode variables */
  --primary-color: #8F4C36;
  --on-primary-color: #FFF;
  --secondary-color: #53433F;
  --outline-color: rgba(133, 115, 110, 1);
  --outline-background-color: rgba(103, 80, 164, 0.12);
  --page-background-color: #FFF;
  --card-background-color: #FFF1ED;
  --state-active-background-color: #FFDBD0;
  --card-border-color: #85736E;
  --table-header-background-color: rgba(241, 223, 218, .5);
  --table-border-color: #F1DFDA;
  --dialog-background-color: #F7E4DF;
  --dropdown-background-color: #FCEAE5;

  --color-success: #F4E2A7;
  --color-error: #BA1A1A;
}

/* Switch to dark mode when .dark-mode class is present on body */
body.dark-mode {
  --primary-color: #FFB59D;
  --on-primary-color: #55200D;
  --secondary-color: #FFDBD0;
  --outline-color: rgba(160, 141, 135, 1);
  --outline-background-color: rgba(208, 188, 255, 0.12);
  --page-background-color: #1A110F;
  --card-background-color: #1A110F;
  --state-active-background-color: #5D4036;
  --card-border-color: #FFDBD0;
  --table-header-background-color: rgba(230, 224, 233, 0.12);
  --table-border-color: #53433F;
  --dialog-background-color: #1A110F;
  --dropdown-background-color: #271D1B;

  --color-success: #52461A;
  --color-error: #BA1A1A;
}