@import 'base-theme';
@import 'core/core';
@import 'angular';
// @import 'fmTable/filters';
@import 'swiper';

@mixin fm_table_filter_chip {
	max-width: 240px;
	height: 33px;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-bottom: 9px;
	cursor: pointer;
}

.vue-notification-wrapper {
}
.v-navigation-drawer__content {
    overflow-x: inherit !important;
    overflow-y: inherit !important;
}

.code_block {
    padding: 15px 10px;
    padding-left: 5px;

    .func {
        color: green;
    }
    .signs {
        color: red;
    }
    .numbers {
        color: purple;
    }
}

.c_primary {
    color: var(--primary-color);
}

.pickmeup {
    z-index: $modal-z-index;
}

.error-color {
    color: $error;
}
