$font-family: "Roboto";

$orange: #f05a22;
$red: #c9400e;
$green: #13d330;
$white: #fff;
$black: #000;

$primary: $orange;
$primary-darken: #e2521c;
$primary-lighten: #f69470;
$primary-lighten-2: #f9f4f1;

$error: $orange;

$border: #E0E0E0;
$border-active: #333;
$border-darken: #B3B3B3;

$opts-borders: 1px solid $border;

$main: #fafafa;
$main-darken: #f2f1f1;
$main-darken-2: #EBEBEB;
$main-darken-hover: #e2e2e2;

$separ: $white;

$text: #333;
$text-hover: #7e7e7e;

$text-lighten: #747474;

$content-padding-x: 30px;

$backdrop-z-index: 2000;

// legacy

$borderPale: #e0e0e0;
$btnHover: #fdece5;

$paleOrange: rgba(240, 90, 34, 0.1);
$gray: #747474;
$labelInstrumentPan: #fff7e1;
$checkboxColor: rgba(255, 64, 129, 0.87);

$borderPale: #e0e0e0;
$borderGray: #b3b3b3;
$whiteBackground: rgb(250,250,250);
$grayIcon: #a1a1a1;

$btnHover: #fdece5;
$optionHoverColor: rgba(158,158,158,0.2);

$leftSidenavWidth: 160px;
$collapsedLeftSidenavWidth: 65px;

$gRowHeight: 36px;
$gCellBorderColor: #DBDBDB;
$gCellBorder: 1px solid $gCellBorderColor;

// after changing gPopupMenuOptionHeight, also modify methods that calculate popup position in rv-dom.manager.js
$gPopupMenuOptionHeight: 48px;

$gRvRowSettingsWidth: 88px;
