$font-family: "Roboto";

$orange: #f05a22;
$red: #c9400e;
$green: #13d330;
$white: #fff;
$black: #000;

$primary: $orange;

$border: #E0E0E0;
$border-active: #333;
$border-darken: #B3B3B3;

$main: #f2f1f1;
$main-darken: #f2f1f1;
$separ: $white;

$text: #333;
$text-hover: #7e7e7e;

$text-lighten: #747474;

// legacy

$borderPale: #e0e0e0;
$btnHover: #fdece5;
