<div class="ace-editor-page p-24">

    <div>

        <div layout="row">

            <div style="width: 50%">

                <div layout="row" layout-align="space-between">
                    <h2>Code editor</h2>
                    <md-button data-ng-click="vm.execute()" class="md-primary md-raised" style="height: 40px;margin-top: 20px;}">Execute</md-button>
                </div>

                <div class="ace-editor" id="aceEditor" style="height: 80vh;">

                </div>

            </div>

            <div style="width: 50%;" class="p-8">

                <div>
                    <h2>Log</h2>
                </div>
                <pre class="ace-editor-page-log">

                </pre>

                <div>
                    <h2>Output</h2>
                </div>
                <pre class="ace-editor-page-output">

                </pre>

            </div>


        </div>


    </div>


</div>