<div class="recycle-bin-page">

    <h1 style="padding-left: 8px">Recycle Bin</h1>

    <div layout="column">

        <div>
            <md-input-container class="journal-page-filters-date-from">
                <label for="">Date From</label>
                <zh-date-picker data-date-value="vm.filters.date_from"
                                data-callback-method="vm.updateFilters()"></zh-date-picker>
            </md-input-container>

            <md-input-container class="journal-page-filters-date-to">
                <label for="">Date To</label>
                <zh-date-picker data-date-value="vm.filters.date_to"
                                data-callback-method="vm.updateFilters()"></zh-date-picker>
            </md-input-container>

            <md-button data-ng-class="{'disabled-btn': !vm.readyStatus.data}"
                       data-ng-click="vm.getData()"
                       class="md-raised md-icon-button md-primary journal-page-refresh-button"><span
                    class="material-icons">refresh</span>
                <md-tooltip md-direction="top">Refresh</md-tooltip>
            </md-button>

            <md-button class="md-raised md-warn" data-ng-click="vm.clearBin($event)">Clear Bin
            </md-button>

        </div>

        <div layout="row" class="m-t-16 pagination-bar">
            <md-button
                    class="md-raised pagination-bar-button pagination-bar-previous-button {{vm.currentPage == 1 ? 'disabled-btn' : ''}}"
                    data-ng-click="vm.openPreviousPage()">
                Previous
            </md-button>

            <div layout="row">

                <div data-ng-repeat="page in vm.pages">

                    <md-button data-ng-click="vm.openPage(page)" data-ng-if="page.number"
                               class="md-raised pagination-bar-button {{vm.currentPage == page.number ? 'md-primary' : ''}}">
                        {{page.caption}}
                    </md-button>

                    <div data-ng-if="!page.number" style="margin: 10px;">
                        {{page.caption}}
                    </div>

                </div>

            </div>

            <md-button class="md-raised pagination-bar-button pagination-bar-previous-button"
                       data-ng-show="vm.currentPage < vm.totalPages"
                       data-ng-click="vm.openNextPage()">Next
            </md-button>
            <span style="padding-top: 6px;font-size: 14px; margin-left: 8px">Records: <b>{{vm.count}}</b></span>
        </div>

        <div data-ng-if="vm.readyStatus.data">

            <div style="padding: 8px; padding-left: 24px;">
                <table class="recycle-bin-table">

                    <thead>
                    <tr>
                        <th>

                            <md-checkbox data-ng-click="vm.toggleAll($event)"
                                         data-ng-checked="vm.allSelected"
                                         tabindex="0"
                                         type="checkbox"
                                         role="checkbox" aria-checked="false" class="m-b-0">

                            </md-checkbox>

                        </th>
                        <th>Code</th>
                        <th>Deleted Transaction Unique Code</th>
                        <th>Deletion Date</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr data-ng-repeat="item in vm.items">
                        <td>
                            <md-checkbox data-ng-click="vm.toggleSelected($event, item)"
                                         data-ng-checked="item.selected"
                                         tabindex="0"
                                         type="checkbox"
                                         role="checkbox" aria-checked="false" class="m-b-0">

                            </md-checkbox>
                        </td>
                        <td>{{item.code}}</td>
                        <td>{{item.transaction_unique_code}}</td>
                        <td>{{item.modified_datetime_prettty}}</td>
                    </tr>

                    </tbody>


                </table>

            </div>

            <div>
                <md-button class="md-raised md-primary" data-ng-click="vm.restoreSelected($event)">Restore
                    Selected
                </md-button>
                <md-button class="md-raised md-warn" data-ng-click="vm.destroySelected($event)">Delete
                    Selected
                </md-button>
            </div>

        </div>

        <div layout="row" class="m-t-16 pagination-bar">
            <md-button
                    class="md-raised pagination-bar-button pagination-bar-previous-button {{vm.currentPage == 1 ? 'disabled-btn' : ''}}"
                    data-ng-click="vm.openPreviousPage()">
                Previous
            </md-button>

            <div layout="row">

                <div data-ng-repeat="page in vm.pages">

                    <md-button data-ng-click="vm.openPage(page)" data-ng-if="page.number"
                               class="md-raised pagination-bar-button {{vm.currentPage == page.number ? 'md-primary' : ''}}">
                        {{page.caption}}
                    </md-button>

                    <div data-ng-if="!page.number" style="margin: 10px;">
                        {{page.caption}}
                    </div>

                </div>

            </div>

            <md-button class="md-raised pagination-bar-button pagination-bar-previous-button"
                       data-ng-show="vm.currentPage < vm.totalPages"
                       data-ng-click="vm.openNextPage()">Next
            </md-button>
            <span style="padding-top: 6px;font-size: 14px; margin-left: 8px">Records: <b>{{vm.count}}</b></span>
        </div>

    </div>

    <div data-ng-if="!vm.readyStatus.data">
        <div class="overlay-loader" layout="row" layout-sm="column" layout-align="space-around">
            <progress-circular diameter="50"></progress-circular>
        </div>
    </div>

</div>