<div class="system-page">

    <h1 style="padding-left: 8px">System Dashboard</h1>

    <div layout="row" data-ng-if="vm.checkReadyStatus()">

        <div layout="column">

            <div>

                <h2>Stats</h2>

                <div data-ng-if="vm.readyStatus.stats">

                    <div class="system-info-cards">

                        <md-card data-ng-repeat="item in vm.systemInfoItems" class="system-info-card">

                            <div class="system-info-card-name">{{item.name}}</div>

                            <div class="system-info-card-val-holder">

                                <div data-ng-repeat="val in item.values" class="system-info-card-val">

                                    <b>{{val.name}}</b>: {{val.value}}

                                </div>

                            </div>

                        </md-card>

                    </div>

                </div>

            </div>

            <div>

                <h2>Logs</h2>



                <div data-ng-if="vm.readyStatus.logs">

                    <div data-ng-repeat="item in vm.logFiles">

                        <span class="log-file-name">{{item}}</span>

                        <md-button class="md-raised" data-ng-click="vm.previewLog($event, item)">Preview</md-button>
                        <md-button class="md-raised" data-ng-click="vm.downloadLog($event, item)">Download</md-button>

                    </div>

                </div>

            </div>

        </div>

        <div layout="column">

            <div>

                <h2>Tables Size</h2>

                <div data-ng-if="vm.readyStatus.tablesSize">

                    <div style="max-height: 600px; overflow: auto">

                        <table>
                            <thead>
                            <tr>
                                <th>Table Name</th>
                                <th>Size</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in vm.tablesSizes">
                                <td>{{item.table_name}}</td>
                                <td>{{item.pg_size_pretty}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

        </div>

        <div layout="column">

            <h4>Space</h4>

            <div>

                <p>
                    <div><b>Full</b> - Finmars will track changes of all important objects.</div>
                    <div><b>Disabled</b> - Journal is disabled, changes will not be tracked.</div>
                </p>

                <md-input-container style="margin-top: 0;">
                    <label>Journal Status</label>
                    <md-select aria-label="" data-ng-model="vm.master_user.journal_status">
                        <md-option value="full">Full</md-option>
                        <md-option value="disabled">Disabled</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div>
                <md-button class="md-raised md-primary {{vm.masterUserProcessing ? 'disabled-btn' : ''}}" data-ng-click="vm.saveMasterUser($event)">Save Space Settings</md-button>
            </div>

        </div>

    </div>

    <div data-ng-if="!vm.checkReadyStatus()">
        <div class="overlay-loader" layout="row" layout-sm="column" layout-align="space-around">
            <progress-circular diameter="50"></progress-circular>
        </div>
    </div>

</div>