<div style="padding: 20px 20px 0">

    <div data-ng-if="vm.readyStatus.content">

        <h2>Transaction Type Fields</h2>

        <md-button class="md-raised"
                   package-manager-button
                   content-type="'ui.transactionuserfieldmodel'">
            Select from List
        </md-button>

        <div layout="row">

            <div layout="column" flex="33">

                <h4>
                    Text Fields
                </h4>

                <div class="overflow-hidden">

                    <div data-ng-repeat="field in vm.transactionTypeTextFields track by field.key"
                         class="float-left m-b-8"
                         style="width: 310px">
                        <b>{{field.key}}</b>

                        <div layout="row">
                            <div>
                                <md-checkbox ng-model="field.is_active" style="margin-top: 6px;">
                                </md-checkbox>
                                <md-tooltip class="tooltip_1" md-direction="top">Check to show the Field in the Transaction Layouts</md-tooltip>
                            </div>

                            <md-input-container style="height: 32px">
                                <input type="text" data-ng-model="field.name" value-title>
                            </md-input-container>
                        </div>
                    </div>

                </div>

            </div>

            <div layout="column" flex="33">

                <h4>
                    Number Fields
                </h4>

                <div class="overflow-hidden">

                    <div data-ng-repeat="field in vm.transactionTypeNumberFields" class="float-left m-b-8"
                         style="width: 335px">
                        <b>{{field.key}}</b>
                        <div layout="row">
                            <div>
                                <md-checkbox ng-model="field.is_active" style="margin-top: 6px;">
                                </md-checkbox>
                                <md-tooltip class="tooltip_1" md-direction="top">Check to show the Field in the Transaction Layouts</md-tooltip>
                            </div>

                            <md-input-container style="height: 32px">
                                <input type="text" data-ng-model="field.name" value-title>
                            </md-input-container>
                        </div>
                    </div>

                </div>

            </div>

            <div layout="column" flex="33">

                <h4>
                    Date Fields
                </h4>

                <div class="overflow-hidden">

                    <div data-ng-repeat="field in vm.transactionTypeDateFields"
                         class="float-left"
                         style="width: 300px">
                        <b>{{field.key}}</b>
                        <div layout="row">
                            <div>
                                <md-tooltip class="tooltip_1" md-direction="top">Check to show the Field in the Transaction Layouts</md-tooltip>
                                <md-checkbox ng-model="field.is_active" style="margin-top: 6px;">
                                </md-checkbox>
                            </div>

                            <md-input-container style="height: 32px">
                                <input type="text" data-ng-model="field.name" value-title>
                            </md-input-container>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div layout="row" class="m-t-16" style="margin-bottom: 60px">

            <md-button class="md-raised md-primary"
                       ng-click="vm.saveTransactionTypeFields()"
                       ng-disabled="vm.readyStatus.transactionTypeProcessing">Apply
            </md-button>

            <div data-ng-if="vm.readyStatus.transactionTypeProcessing" class="m-l-16 m-t-8">
                <md-progress-circular md-mode="indeterminate"
                                      md-diameter="24"></md-progress-circular>
            </div>

        </div>

        <h2>Instrument Fields</h2>

        <md-button class="md-raised"
                   package-manager-button
                   content-type="'ui.instrumentuserfieldmodel'">
            Select from List
        </md-button>

        <div layout="row">

            <div layout="column" flex="33">

                <h4>
                    Text Fields
                </h4>

                <div class="overflow-hidden">

                    <div data-ng-repeat="field in vm.instrumentTextFields track by field.id" class="float-left m-b-8"
                         style="width: 310px">
                        <b>{{field.key}}</b>
                        <md-input-container style="height: 32px">
                            <input type="text" data-ng-model="field.name" value-title>
                        </md-input-container>
                    </div>

                </div>

            </div>

        </div>

        <div layout="row" class="m-t-16">

            <md-button class="md-raised md-primary"
                       ng-click="vm.saveInstrumentFields()"
                       ng-disabled="vm.readyStatus.instrumentProcessing">Apply
            </md-button>

            <div data-ng-if="vm.readyStatus.instrumentProcessing" class="m-l-16 m-t-8">
                <md-progress-circular md-mode="indeterminate"
                                      md-diameter="24"></md-progress-circular>
            </div>
        </div>

    </div>

    <div data-ng-if="!vm.readyStatus.content">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
    </div>

</div>