<div layout="column"
     style="padding: 0 20px" class="import-page unified-import-page">

    <div layout="column" style="margin-bottom: 20px; width: 300px;">

        <dropdown-select
                model="vm.config.mode"
                placeholder-text="Mode"
                menu-options="vm.modes"
                small-options="{noIndicatorBtn: true, dialogParent: '.dialog-containers-wrap'}"
                class=" m-t-8"></dropdown-select>

        <md-input-container flex="40" style="margin-bottom: 0" class="ng-hide">
            <input type="file" id="importDataUploadInput" input-file-directive
                   read-file="vm.config.file"
                   read-file-change="vm.checkExtension(vm.config.file, 'csv', $event)">
        </md-input-container>
        <div class="input-upload-file-container">
            <p class="importDataUploadInput">Entity</p>
            <label for="importDataUploadInput" class="md-button md-raised md-primary IFUlabel">
                <span>BROWSE...</span></label>
        </div>


        <div layout="row" layout-align="end center" class="m-t-8">

            <div data-ng-if="vm.readyStatus.processing" class="m-l-16 m-t-8" style="position: relative; top: -4px;">
                <progress-circular diameter="20"></progress-circular>
            </div>
            <md-button
                    class="md-raised import-button {{vm.loadIsAvailable() ? '' : 'disabled-btn' }}"
                    data-ng-click="vm.startImport($event)">
                IMPORT
            </md-button>

        </div>

    </div>

    <div layout="row"
         data-ng-if="vm.finishedSuccess"
         layout-align="center center">
        <h2>The data successfully imported.</h2>
    </div>


    <div class="loader-dialog" data-ng-if="vm.readyStatus.processing">

        <div>

            <div data-ng-if="vm.loaderData.total" class="loader-description">
                <b>{{vm.loaderData.text}}</b> {{vm.loaderData.current}} / {{vm.loaderData.total}}
            </div>

            <div data-ng-if="vm.loaderData.additional.length">

                <div data-ng-repeat="item in vm.loaderData.additional">

                    <div data-ng-if="item.total" class="text-center">
                        <b>{{item.text}}</b> {{item.current}} / {{item.total}}
                    </div>

                </div>

            </div>

            <div layout="row" layout-sm="column" layout-align="space-around" class="loader-spinner">
                <progress-circular diameter="100"></progress-circular>
            </div>

        </div>

    </div>


</div>
