<md-dialog aria-label="attribute manager dialog"
           class="attribute-manager-dialog-view draggable-dialog attrManagerElemToResize"
           drag-dialog
           style="width: 60%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Attribute manager</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row">
            <div data-ng-if="vm.readyStatus.attribute" style="width: 100%">
                <md-tabs md-dynamic-height md-border-bottom class="tabs-colored">
                    <md-tab>
                        <md-tab-label>General</md-tab-label>

                        <md-tab-body>
                            <div class="a-m-tab-content">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Attribute name</label>
                                    <input data-ng-model="vm.attribute.name"
                                           data-ng-blur="vm.onAttrNameBlur()">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Reference Name</label>
                                    <input data-ng-model="vm.attribute.user_code" data-ng-keyup="vm.validateUserCode()">
                                </md-input-container>
                                <div class="color-danger m-l-16" data-ng-if="vm.userCodeError">Only alphabet, numbers
                                    and underscores allowed
                                </div>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tooltip</label>
                                    <input data-ng-model="vm.attribute.tooltip">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <md-checkbox class="md-secondary"
                                                 ng-model="vm.attribute.can_recalculate"
                                                 data-ng-change="vm.attribute.expr = ''">Can recalculate
                                    </md-checkbox>
                                </md-input-container>

                                <div data-ng-if="vm.attribute.can_recalculate" layout="row">
                                    <md-input-container class="md-block" style="width: 80%">
                                        <label>Expression</label>
                                        <input data-ng-model="vm.attribute.expr">
                                    </md-input-container>

                                    <expression-editor-button
                                            data-item="vm.attribute.expr"></expression-editor-button>
                                </div>

                                <div data-ng-if="vm.editRestriction" flex-gt-sm>
                                    <md-input-container class="md-block">
                                        <label>Attribute type</label>
                                        <md-select ng-model="vm.attribute['value_type']" disabled>
                                            <md-option ng-repeat="item in vm.valueTypes"
                                                       value="{{item.value}}">
                                                {{item['name']}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div data-ng-if="!vm.editRestriction" flex-gt-sm>
                                    <md-input-container class="md-block">

                                        <label>Attribute type</label>
                                        <md-select ng-model="vm.attribute['value_type']"
                                                   md-container-class="common-select-container"
                                                   md-on-close="searchTerm = ''">
                                            <div>
                                                <md-select-header>
                                                    <input data-ng-model="searchTerm"
                                                           type="search"
                                                           placeholder="Search for a ..."
                                                           class="md-text md-select-search-pattern select-input-filter"
                                                           ng-keydown="$event.stopPropagation()">
                                                </md-select-header>

                                                <div class="select-options-holder">

                                                    <md-option
                                                            data-ng-repeat="item in vm.valueTypes | filter: {name: searchTerm}"
                                                            ng-value="item.value">
                                                        {{item.name}}
                                                    </md-option>

                                                </div>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block" flex-gt-sm style="margin-top: 10px">
                                    <md-checkbox data-ng-model="vm.attribute.is_hidden"
                                                 aria-label="checkbox">
                                        <label style="width: 100%; position: relative">Is hidden</label>
                                    </md-checkbox>
                                </md-input-container>
                            </div>
                        </md-tab-body>
                    </md-tab>

                    <md-tab data-ng-if="vm.checkPermissions()">
                        <md-tab-label>
                            <span class="colored-tab">Permissions</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding p-t-26">
                                <md-content class="md-padding">
                                    <div data-ng-if="vm.readyStatus.permissions">
                                        <md-tabs md-dynamic-height md-border-bottom>
                                            <md-tab label="User permissions">
                                                <md-content>
                                                    <div>
                                                        <div layout="column">
                                                            <div layout="row" layout-align="space-between center"
                                                                 class="permissions-table-header">
                                                                <div>
                                                                    <div class="permissions-columns">User name</div>
                                                                </div>
                                                                <div layout="row" class="permissions-checkbox-holder"
                                                                     flex="30"
                                                                     layout-align="space-between center">
                                                                    <div class="permissions-columns" flex="50">Delegate
                                                                        <ng-md-icon class="tooltip-inline-block"
                                                                                    icon="info"
                                                                                    size="20"
                                                                                    style="fill: #777777">
                                                                            <md-tooltip class="tooltip_2"
                                                                                        md-direction="top">
                                                                                tooltip
                                                                                text
                                                                            </md-tooltip>
                                                                        </ng-md-icon>
                                                                    </div>
                                                                    <div class="permissions-columns" flex="50">
                                                                        Read/Write
                                                                        <ng-md-icon class="tooltip-inline-block"
                                                                                    icon="info"
                                                                                    size="20"
                                                                                    style="fill: #777777">
                                                                            <md-tooltip class="tooltip_2"
                                                                                        md-direction="top">
                                                                                tooltip
                                                                                text
                                                                            </md-tooltip>
                                                                        </ng-md-icon>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <md-divider></md-divider>
                                                        </div>
                                                        <div data-ng-repeat="member in vm.members" layout="column">
                                                            <div layout="row" layout-align="space-between center"
                                                                 class="permissions-table-row">
                                                                <div>
                                                                    <p> {{ member["display_name"] }} </p>
                                                                </div>
                                                                <div layout="row" class="permissions-checkbox-holder"
                                                                     flex="30"
                                                                     layout-align="space-between center">
                                                                    <div flex="50" layout="center center">
                                                                        <md-checkbox class="md-secondary"
                                                                                     ng-model="member.objectPermissions.manage"></md-checkbox>
                                                                    </div>
                                                                    <div flex="50" layout="center center">
                                                                        <md-checkbox class="md-secondary"
                                                                                     ng-model="member.objectPermissions.change"></md-checkbox>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <md-divider></md-divider>
                                                        </div>
                                                    </div>
                                                </md-content>
                                            </md-tab>
                                            <md-tab label="Group permissions">
                                                <md-content>
                                                    <div>
                                                        <div layout="column">
                                                            <div layout="row" layout-align="space-between center"
                                                                 class="permissions-table-header">
                                                                <div>
                                                                    <div class="permissions-columns">Group name</div>
                                                                </div>
                                                                <div layout="row" class="permissions-checkbox-holder"
                                                                     flex="30"
                                                                     layout-align="space-between center">
                                                                    <div class="permissions-columns" flex="50">Delegate
                                                                        <ng-md-icon class="tooltip-inline-block"
                                                                                    icon="info"
                                                                                    size="20"
                                                                                    style="fill: #777777">
                                                                            <md-tooltip class="tooltip_2"
                                                                                        md-direction="top">
                                                                                tooltip
                                                                                text
                                                                            </md-tooltip>
                                                                        </ng-md-icon>
                                                                    </div>
                                                                    <div class="permissions-columns" flex="50">
                                                                        Read/Write
                                                                        <ng-md-icon class="tooltip-inline-block"
                                                                                    icon="info"
                                                                                    size="20"
                                                                                    style="fill: #777777">
                                                                            <md-tooltip class="tooltip_2"
                                                                                        md-direction="top">
                                                                                tooltip
                                                                                text
                                                                            </md-tooltip>
                                                                        </ng-md-icon>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <md-divider></md-divider>
                                                        </div>
                                                        <div data-ng-repeat="group in vm.groups" layout="column">
                                                            <div layout="row" layout-align="space-between center"
                                                                 class="permissions-table-row">
                                                                <div>
                                                                    <p> {{ group["name"] }} </p>
                                                                </div>
                                                                <div layout="row" class="permissions-checkbox-holder"
                                                                     flex="30"
                                                                     layout-align="space-between center">
                                                                    <div flex="50" layout="center center">
                                                                        <md-checkbox class="md-secondary"
                                                                                     ng-model="group.objectPermissions.manage"></md-checkbox>
                                                                    </div>
                                                                    <div flex="50" layout="center center">
                                                                        <md-checkbox class="md-secondary"
                                                                                     ng-model="group.objectPermissions.change"></md-checkbox>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <md-divider></md-divider>
                                                        </div>
                                                    </div>
                                                </md-content>
                                            </md-tab>
                                        </md-tabs>
                                    </div>
                                    <div data-ng-if="!vm.readyStatus.permissions">
                                        <div layout="row" layout-sm="column" layout-align="space-around">
                                            <md-progress-circular md-mode="indeterminate"
                                                                  md-diameter="96"></md-progress-circular>
                                        </div>
                                    </div>
                                </md-content>
                            </md-content>
                        </md-tab-body>
                    </md-tab>

                </md-tabs>
            </div>
            <div data-ng-if="!vm.readyStatus.attribute" style="width: 100%" class="p-24">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <progress-circular diameter="100"></progress-circular>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary {{vm.userCodeError ? 'disabled-btn': ''}}" ng-click="vm.agree($event)"
                   style="margin-right:20px;">
            Save
        </md-button>

        <dialog-window-resizer data-ng-if="vm.dialogElemToResize"
                               data-elem-to-resize="vm.dialogElemToResize"
                               class="dialog-window-resizer_type1"></dialog-window-resizer>
    </md-dialog-actions>
</md-dialog>