<div class="dashboard">

    <div data-ng-if="vm.readyStatus.data" class="height-100">

        <div data-ng-if="vm.componentFillInModeData" class="dashboard-component-fillin-mode">

            <div data-ng-if="vm.componentFillInModeData.item.data.type === 'report_viewer' ||
                             vm.componentFillInModeData.item.data.type == 'report_viewer_split_panel'"
                 class="height-100">
                <dashboard-report-viewer
                        tab-number="vm.componentFillInModeData.tab_number"
                        row-number="vm.componentFillInModeData.row_number"
                        column-number="vm.componentFillInModeData.column_number"
                        item="vm.componentFillInModeData.item"
                        dashboard-data-service="vm.dashboardDataService"
                        dashboard-event-service="vm.dashboardEventService"
                        fill-in-mode-data="vm.componentFillInModeData"
                ></dashboard-report-viewer>
            </div>

            <div data-ng-if="vm.componentFillInModeData.item.data.type === 'report_viewer_bars_chart' ||
                             vm.componentFillInModeData.item.data.type === 'report_viewer_pie_chart'"
                 class="height-100">
                <dashboard-report-viewer-charts
                        class="height-100 display-block"
                        tab-number="vm.componentFillInModeData.tab_number"
                        row-number="vm.componentFillInModeData.row_number"
                        column-number="vm.componentFillInModeData.column_number"
                        item="vm.componentFillInModeData.item"
                        dashboard-data-service="vm.dashboardDataService"
                        dashboard-event-service="vm.dashboardEventService"
                        fill-in-mode-data="vm.componentFillInModeData"
                ></dashboard-report-viewer-charts>
            </div>

            <div data-ng-if="vm.componentFillInModeData.item.data.type == 'report_viewer_matrix'"
                 class="height-100">
                <dashboard-report-viewer-matrix
                        class="height-100 display-block"
                        tab-number="vm.componentFillInModeData.tab_number"
                        row-number="vm.componentFillInModeData.row_number"
                        column-number="vm.componentFillInModeData.column_number"
                        item="vm.componentFillInModeData.item"
                        dashboard-data-service="vm.dashboardDataService"
                        dashboard-event-service="vm.dashboardEventService"
                        fill-in-mode-data="vm.componentFillInModeData"
                ></dashboard-report-viewer-matrix>
            </div>


            <div data-ng-if="vm.componentFillInModeData.item.data.type == 'report_viewer_table_chart'"
                 class="height-100">
                <dashboard-report-viewer-table-chart
                        class="height-100 display-block"
                        tab-number="vm.componentFillInModeData.tab_number"
                        row-number="vm.componentFillInModeData.row_number"
                        column-number="vm.componentFillInModeData.column_number"
                        item="vm.componentFillInModeData.item"
                        dashboard-data-service="vm.dashboardDataService"
                        dashboard-event-service="vm.dashboardEventService"
                        fill-in-mode-data="vm.componentFillInModeData"
                ></dashboard-report-viewer-table-chart>
            </div>

        </div>

        <div data-ng-if="vm.layout" class="dashboard-main-area">

            <div class="dashboard-top-row">
                <div class="dashboard-title">

                    <md-button class="g-dashboard-top-button g-top-button flex-row"
                               custom-popup
                               popup-template-url="'views/popups/dashboard/dashboard-layouts-manager-popup-view.html'"
                               popup-data="vm.popupData"
                               position-relative-to="element"
                               open-on="click"
                               offset-x="-30"
                               popup-classes="rounded-border"
                               close-on-click-outside="true"
                               popup-event-service="vm.dashboardEventService">

                        <span class="material-icons">view_quilt</span>
                        <span class="m-l-8">{{vm.layout.name}}</span>
                        <span class="material-icons">arrow_drop_down</span>

                    </md-button>

                    <md-button class="g-dashboard-top-button g-top-button" ng-click="vm.saveDashboardLayout($event)">
                        <span class="material-icons">save</span>
                    </md-button>

                </div>

                <div class="dashboard-tabs-control-panel">

                    <md-button class="dashboard-control-button"
                               data-ng-click="vm.clearActiveTabUfaFilters()"
                               ng-disabled="vm.processing">
                        <ng-md-icon icon="leak_remove"
                                    size="20"
                                    style="fill: #777777">
                            <md-tooltip class="tooltip_1" md-direction="bottom">Clear Link to Selection filters for
                                Active Tab
                            </md-tooltip>
                        </ng-md-icon>
                    </md-button>

                    <md-button class="dashboard-control-button"
                               data-ng-click="vm.refreshActiveTab()"
                               ng-disabled="vm.processing">
                        <ng-md-icon icon="refresh"
                                    size="20"
                                    style="fill: #777777">
                            <md-tooltip class="tooltip_1" md-direction="bottom">Refresh Active Tab</md-tooltip>
                        </ng-md-icon>
                    </md-button>

                    <md-button class="dashboard-control-button"
                               data-ng-click="vm.refreshAll()"
                               ng-disabled="vm.processing">
                        <ng-md-icon icon="loop"
                                    size="20"
                                    style="fill: #777777">
                            <md-tooltip class="tooltip_1" md-direction="bottom">Refresh All Tabs</md-tooltip>
                        </ng-md-icon>
                    </md-button>

                    <!--                    Deprecated -->
                    <!--                    <md-menu class="full-width dashboard-control-menu" layout="row">-->
                    <!--                        <md-button class="dashboard-control-button"-->
                    <!--                                   ng-click="$mdOpenMenu($event)"-->
                    <!--                                   type="button">-->
                    <!--                            <ng-md-icon icon="list"-->
                    <!--                                        size="20"-->
                    <!--                                        style="fill: #777777">-->
                    <!--                                <md-tooltip class="tooltip_1" md-direction="bottom">Layouts</md-tooltip>-->
                    <!--                            </ng-md-icon>-->

                    <!--                        </md-button>-->

                    <!--                        <md-menu-content width="4">-->
                    <!--                            <md-menu-item>-->
                    <!--                                <md-button ng-click="vm.openLayoutList($event)" class="g-settings-option-btn">-->
                    <!--                                    <span>Open Layout Manager</span>-->
                    <!--                                </md-button>-->
                    <!--                            </md-menu-item>-->
                    <!--                            <md-menu-item>-->
                    <!--                                <md-button ng-click="vm.saveDashboardLayout($event)" class="g-settings-option-btn" data-ng-class="{'disabled-btn': vm.layout.sourced_from_global_layout && !vm.layout.origin_for_global_layout}">-->
                    <!--                                    <span>Save Dashboard Layout</span>-->
                    <!--                                </md-button>-->
                    <!--                            </md-menu-item>-->
                    <!--                            <md-menu-item>-->
                    <!--                                <md-button ng-click="vm.makeCopyDashboardLayout($event)" class="g-settings-option-btn">-->
                    <!--                                    <span>Duplicate Layout</span>-->
                    <!--                                </md-button>-->
                    <!--                            </md-menu-item>-->
                    <!--                            <md-menu-item>-->
                    <!--                                <md-button data-ui-sref="app.portal.dashboard-constructor({id: vm.layout.id})"-->
                    <!--                                           class="g-settings-option-btn">-->
                    <!--                                    <span>Edit Layout</span>-->
                    <!--                                </md-button>-->
                    <!--                            </md-menu-item>-->
                    <!--                            <md-menu-item>-->
                    <!--                                <md-button data-ng-click="vm.exportDashboardLayout($event)"-->
                    <!--                                           class="g-settings-option-btn">-->
                    <!--                                    <span>Export Layout</span>-->
                    <!--                                </md-button>-->
                    <!--                            </md-menu-item>-->
                    <!--                        </md-menu-content>-->
                    <!--                    </md-menu>-->

                </div>
            </div>

            <div data-ng-if="vm.layout.data.fixed_area.status === 'active'" class="dashboard-fixed-area-container">

                <div class="dashboard-layout position-relative height-100"
                     dashboard-grid-aligner
                     dashboard-data-service="vm.dashboardDataService"
                     dashboard-event-service="vm.dashboardEventService"
                     tab-number="'fixed_area'">


                    <div class="dashboard-rows-holder" data-row="{{row.row_number}}"
                         data-ng-repeat="row in vm.layout.data.fixed_area.layout.rows">

                        <div data-ng-repeat="item in row.columns"
                             class="dashboard-cell dashboardCell {{item.cell_type != 'empty' ? 'bordered':''}} {{item.data && item.data.type == 'control' ? 'dashboard-cell-no-overflow' : ''}} {{item.data && item.data.type == 'control' ? 'z-index-2' : ''}}"
                             data-tab="fixed_area"
                             data-row="{{row.row_number}}"
                             data-column="{{item.column_number}}"
                             data-cell-type="{{item.cell_type}}">

                            <div data-ng-if="item.cell_type == 'empty'">

                            </div>

                            <div data-ng-if="item.cell_type == 'component'" class="height-100">

                                <div data-ng-if="item.data.type == 'control'">
                                    <dashboard-control
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                    ></dashboard-control>
                                </div>

                                <div data-ng-if="item.data.type == 'button_set'">
                                    <dashboard-button-set
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                    ></dashboard-button-set>
                                </div>

                                <div data-ng-if="item.data.type == 'input_form'">
                                    <dashboard-input-form
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                    ></dashboard-input-form>
                                </div>

                                <div data-ng-if="item.data.type === 'report_viewer' || item.data.type === 'report_viewer_split_panel'"
                                     class="height-100">
                                    <dashboard-report-viewer
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                            fill-in-mode-data="vm.componentFillInModeData"
                                    ></dashboard-report-viewer>
                                </div>

                                <!--<div data-ng-if="item.data.type === 'report_viewer_split_panel'"
                                     class="height-100">
                                    <dashboard-report-viewer-split-panel
                                            class="height-100 display-block"
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                            fill-in-mode-data="vm.componentFillInModeData"
                                    ></dashboard-report-viewer-split-panel>
                                </div>-->

                                <div data-ng-if="item.data.type == 'report_viewer_grand_total'"
                                     class="height-100">
                                    <dashboard-report-viewer-grand-total
                                            class="height-100 display-block"
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                    ></dashboard-report-viewer-grand-total>
                                </div>

                                <div data-ng-if="item.data.type === 'report_viewer_bars_chart' || item.data.type === 'report_viewer_pie_chart'"
                                     class="height-100">
                                    <dashboard-report-viewer-charts
                                            class="height-100 display-block"
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                            fill-in-mode-data="vm.componentFillInModeData"
                                    ></dashboard-report-viewer-charts>
                                </div>

                                <div data-ng-if="item.data.type == 'report_viewer_table_chart'"
                                     class="height-100">
                                    <dashboard-report-viewer-table-chart
                                            class="height-100 display-block"
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                            fill-in-mode-data="vm.componentFillInModeData"
                                    ></dashboard-report-viewer-table-chart>
                                </div>

                                <div data-ng-if="item.data.type == 'report_viewer_matrix'"
                                     class="height-100">
                                    <dashboard-report-viewer-matrix
                                            class="height-100 display-block"
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                            fill-in-mode-data="vm.componentFillInModeData"
                                    ></dashboard-report-viewer-matrix>
                                </div>

                                <div data-ng-if="item.data.type == 'entity_viewer'" class="height-100">
                                    <dashboard-entity-viewer
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                    ></dashboard-entity-viewer>
                                </div>

                                <div data-ng-if="item.data.type == 'entity_viewer_split_panel'"
                                     class="height-100">
                                    <dashboard-entity-viewer-split-panel
                                            tab-number="'fixed_area'"
                                            row-number="row.row_number"
                                            column-number="item.column_number"
                                            item="item"
                                            dashboard-data-service="vm.dashboardDataService"
                                            dashboard-event-service="vm.dashboardEventService"
                                    ></dashboard-entity-viewer-split-panel>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="dashboard-tab-headers-holder">

                <div class="tab-header {{tab.active ? 'active' : ''}} "
                     data-ng-repeat="tab in vm.projection | orderBy: 'tab_number' track by tab.tab_number"
                     data-ng-click="vm.setActiveTab(tab)">
                   <span>
                                {{tab.name}}
                            </span>

                </div>

            </div>

            <div class="dashboard-tabs-holder">
                <div class="dashboard-tabs height-100 width-100">

                    <div data-ng-repeat="tab in vm.projection | orderBy: 'tab_number' track by tab.tab_number"
                         data-ng-show="tab.active" class="height-100 width-100 display-block">


                        <div class="tab-body height-100 width-100">

                            <div class="dashboard-layout position-relative height-100 width-100"
                                 dashboard-grid-aligner
                                 dashboard-data-service="vm.dashboardDataService"
                                 dashboard-event-service="vm.dashboardEventService"
                                 tab-number="tab.tab_number">


                                <div class="dashboard-rows-holder" data-row="{{row.row_number}}"
                                     data-ng-repeat="row in tab.layout.rows">

                                    <div data-ng-repeat="item in row.columns"
                                         class="dashboard-cell dashboardCell {{item.cell_type != 'empty' ? 'bordered':''}} {{item.data && item.data.type == 'control' ? 'dashboard-cell-no-overflow' : ''}}  {{item.data && item.data.type == 'control' ? 'z-index-2' : ''}}"
                                         data-tab="{{tab.tab_number}}"
                                         data-row="{{row.row_number}}"
                                         data-column="{{item.column_number}}"
                                         data-cell-type="{{item.cell_type}}">

                                        <div data-ng-if="item.cell_type == 'empty'">
                                            &nbsp;
                                        </div>

                                        <div data-ng-if="item.cell_type == 'component'" class="height-100">

                                            <div data-ng-if="item.data.type == 'accordion'">
                                                <dashboard-accordion
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-accordion>
                                            </div>

                                            <div data-ng-if="item.data.type == 'control'">
                                                <dashboard-control
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-control>
                                            </div>

                                            <div data-ng-if="item.data.type == 'button_set'">
                                                <dashboard-button-set
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-button-set>
                                            </div>

                                            <div data-ng-if="item.data.type == 'input_form'">
                                                <dashboard-input-form
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-input-form>
                                            </div>

                                            <div data-ng-if="item.data.type === 'report_viewer' || item.data.type === 'report_viewer_split_panel'"
                                                 class="height-100">
                                                <dashboard-report-viewer
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                        fill-in-mode-data="vm.componentFillInModeData"
                                                ></dashboard-report-viewer>
                                            </div>

                                            <!--<div data-ng-if="item.data.type == 'report_viewer_split_panel'"
                                                 class="height-100">
                                                <dashboard-report-viewer-split-panel
                                                        class="height-100 display-block"
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                        fill-in-mode-data="vm.componentFillInModeData"
                                                ></dashboard-report-viewer-split-panel>
                                            </div>-->

                                            <div data-ng-if="item.data.type == 'report_viewer_grand_total'"
                                                 class="height-100">
                                                <dashboard-report-viewer-grand-total
                                                        class="height-100 display-block"
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-report-viewer-grand-total>
                                            </div>

                                            <div data-ng-if="item.data.type === 'report_viewer_bars_chart' || item.data.type === 'report_viewer_pie_chart'"
                                                 class="height-100">
                                                <dashboard-report-viewer-charts
                                                        class="height-100 display-block"
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                        fill-in-mode-data="vm.componentFillInModeData"
                                                ></dashboard-report-viewer-charts>
                                            </div>

                                            <div data-ng-if="item.data.type == 'report_viewer_table_chart'"
                                                 class="height-100">
                                                <dashboard-report-viewer-table-chart
                                                        class="height-100 display-block"
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                        fill-in-mode-data="vm.componentFillInModeData"
                                                ></dashboard-report-viewer-table-chart>
                                            </div>

                                            <div data-ng-if="item.data.type == 'report_viewer_matrix'"
                                                 class="height-100">
                                                <dashboard-report-viewer-matrix
                                                        class="height-100 display-block"
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                        fill-in-mode-data="vm.componentFillInModeData"
                                                ></dashboard-report-viewer-matrix>
                                            </div>

                                            <div data-ng-if="item.data.type == 'entity_viewer'"
                                                 class="height-100">
                                                <dashboard-entity-viewer
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-entity-viewer>
                                            </div>

                                            <div data-ng-if="item.data.type == 'entity_viewer_split_panel'"
                                                 class="height-100">
                                                <dashboard-entity-viewer-split-panel
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-entity-viewer-split-panel>
                                            </div>

                                            <div data-ng-if="item.data.type == 'superset_dashboard'" class="height-100">
                                                <dashboard-superset-dashboard
                                                        class="height-100 display-block"
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-superset-dashboard>
                                            </div>

                                            <div data-ng-if="item.data.type == 'finmars_widget'" class="height-100">
                                                <dashboard-finmars-widget
                                                        class="height-100 display-block"
                                                        tab-number="tab.tab_number"
                                                        row-number="row.row_number"
                                                        column-number="item.column_number"
                                                        item="item"
                                                        dashboard-data-service="vm.dashboardDataService"
                                                        dashboard-event-service="vm.dashboardEventService"
                                                ></dashboard-finmars-widget>
                                            </div>

                                        </div>

                                    </div>

                                </div>

<!--                                <div class="dashboard-empty-space dashboardEmptySpace"></div>-->


                            </div>

                            </divmd-tab-body>
                        </div>

                    </div>
                </div>

            </div>


        </div>

        <div data-ng-if="!vm.layout">

            <div class="dashboard-no-layout-box">

                <h2>No Default Layout Found</h2>

                Please,
                <md-button class="md-raised md-primary"
                           data-ui-sref="app.portal.dashboard-constructor({id: 'new'})">Create new
                    Layout
                </md-button>
                or select
                <md-button class="md-raised" ng-click="vm.openLayoutList($event)">Default Layout</md-button>

            </div>

        </div>

        <div data-ng-if="!vm.readyStatus.data">
            <div layout="row" layout-sm="column" layout-align="space-around" class="dashboard-loader">
                <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
                <progress-circular diameter="100"></progress-circular>
            </div>
        </div>

    </div>

</div>