<md-dialog aria-label="info dialog"
           class="warning-dialog draggable-dialog dialog-actions-bottom"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 data-ng-bind-html="vm.info.title"></h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="warning-text">
            <div data-ng-bind-html="vm.info.description" style="white-space: pre"></div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.agree()" style="margin-right:20px;">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>