<div class="big-drawer-content">
    <div class="big-drawer-header">
        <h2 class="big-drawer-header-h">
            {{ vm.previewMode ? 'Transaction' : 'Rebook Transaction'}}
        </h2>
    </div>

    <div class="big-drawer-main"
         data-ng-include="'views/entity-viewer/complex-transaction-edit-content-view.html'"></div>


    <div ng-if="vm.previewMode" class="dialog-footer flex-row fc-space-between" style="background: #fff"
         data-ng-include="'views/entity-viewer/complex-transaction-view-footer-view.html'"></div>

    <div ng-if="!vm.previewMode" class="dialog-footer flex-row fc-space-between" style="background: #fff"
         data-ng-include="'views/entity-viewer/complex-transaction-edit-footer-view.html'"></div>

</div>