<div data-ng-if="vm.checkReadyStatus()">

    <div class="entity-editor-fixed-area">

        <div class="flex-row">

            <!-- <div layout="row" flex="50" class="p-t-24"
                 style="border: 1px solid #000; background: #ffeee8">
                <md-input-container style="font-size: 18px; " class="width-100">
                    <label for="">Transaction type</label>
                    <md-select data-ng-model="vm.transactionTypeId"
                               md-container-class="big-select"
                               data-ng-change="vm.transactionTypeChange()"
                               md-on-close="searchTerm = ''">
                        <md-select-header>
                            <input data-ng-model="searchTerm"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern">
                        </md-select-header>

                        <div class="big-select-optgroup-container">

                            <md-optgroup label="{{group.name}}"
                                         data-ng-repeat="group in vm.transactionGroups">
                                <md-option
                                        data-ng-repeat="item in group.items | orderBy: 'name' | filter:{name: searchTerm}"
                                        ng-value="item.id">
                                    {{item.name}}
                                </md-option>
                            </md-optgroup>

                        </div>

                    </md-select>
                </md-input-container>

            </div> -->
            <div class="flex-1-1-50">
                <complex-dropdown-select label="Transaction type"
                                         model="vm.transactionTypeId"
                                         menu-options="vm.transactionGroups"
                                         favorite-options="vm.favTTypeOpts"
                                         on-favorite-options-change="vm.saveFavoriteTTypeOptions()"
                                         on-selected-option-change="vm.transactionTypeChange()"></complex-dropdown-select>
            </div>

            <div flex="50">

                &nbsp;
<!--                <fieldset class="fieldset-event-settings m-b-24" style="border: 0;">-->

<!--                    <legend style="color: grey">Transaction Types Filters</legend>-->

<!--                    <div layout="row">-->
<!--                        <div layout="row" flex="40">-->
<!--                            <md-input-container class="width-100">-->
<!--                                <label for="">Portfolio</label>-->
<!--                                <md-select multiple data-ng-model="vm.filters.portfolios"-->
<!--                                           data-ng-change="vm.filtersChange()"-->
<!--                                           md-on-close="searchTerm = ''">-->
<!--                                    <md-select-header>-->
<!--                                        <input data-ng-model="searchTerm"-->
<!--                                               type="search"-->
<!--                                               placeholder="Search for a ..."-->
<!--                                               class="md-text md-select-search-pattern">-->
<!--                                    </md-select-header>-->
<!--                                    <md-option-->
<!--                                            data-ng-repeat="item in vm.portfolios | filter:{name: searchTerm}"-->
<!--                                            ng-value="item.id">-->
<!--                                        {{item.name}}-->
<!--                                    </md-option>-->
<!--                                </md-select>-->
<!--                            </md-input-container>-->
<!--                        </div>-->

<!--                        <div layout="row" flex="40">-->
<!--                            <md-input-container class="width-100">-->
<!--                                <label for="">Instrument Type</label>-->
<!--                                <md-select multiple data-ng-model="vm.filters.instrument_types"-->
<!--                                           data-ng-change="vm.filtersChange()"-->
<!--                                           md-on-close="searchTerm = ''">-->
<!--                                    <md-select-header>-->
<!--                                        <input data-ng-model="searchTerm"-->
<!--                                               type="search"-->
<!--                                               placeholder="Search for a ..."-->
<!--                                               class="md-text md-select-search-pattern">-->
<!--                                    </md-select-header>-->
<!--                                    <md-option-->
<!--                                            data-ng-repeat="item in vm.instrumentTypes | filter:{name: searchTerm}"-->
<!--                                            ng-value="item.id">-->
<!--                                        {{item.user_code}}-->
<!--                                    </md-option>-->
<!--                                </md-select>-->
<!--                            </md-input-container>-->
<!--                        </div>-->

<!--                        <div layout="row" flex="20" layout-align="center start">-->
<!--                            <md-button class="md-raised"-->
<!--                                       data-ng-click="vm.filters.portfolios = null; vm.filters.instrument_types = null;">-->
<!--                                Clear Filters-->
<!--                            </md-button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </fieldset>-->

            </div>

        </div>

    </div>

    <div data-ng-if="vm.readyStatus.layout && vm.transactionTypeId">

        <div data-ng-if="!vm.missingLayoutError" class="position-relative">

            <div data-ng-if="vm.fixedArea.isActive"
                 class="entity-editor-fixed-area-container"
                 ng-class="{'opacity-05': vm.entity.is_locked, 'no-pointer-events': vm.entity.is_locked}">
                <div layout="row"
                     ng-repeat="row in vm.range(vm.fixedArea.layout.rows)"
                     class="entity-editor-row">
                    <div data-ng-repeat="field in vm.fixedArea.layout.fields | orderBy: 'column' track by $index"
                         data-ng-if="vm.checkFieldRender(vm.fixedArea, row, field)"
                         class="ev-data-field"
                         data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                         flex="{{vm.bindFlex(vm.fixedArea, field)}}">
                        <bind-field-control
                                entity-type="vm.entityType"
                                entity="vm.entity"
                                ev-editor-data-service="vm.evEditorDataService"
                                ev-editor-event-service="vm.evEditorEventService"
                                item="vm.fixedAreaAttributesLayout[row][field.column]"
                                fields-data-store="vm.fieldsDataStore"
                                entity-change="vm.onEntityChange(fieldKey)"></bind-field-control>
                    </div>
                </div>
            </div>

            <md-tabs md-dynamic-height md-border-bottom class="tabs-colored">
                <md-tab data-ng-repeat="tab in vm.tabs track by tab.name">
                    <md-tab-label>
                        <div class="tab-name-elem evFormUserTabName" data-tab-name="{{tab.name | lowercase}}">
                            <span>{{tab.name}}</span>
                        </div>
                    </md-tab-label>

                    <md-tab-body>
                        <md-content class="md-padding p-t-26 "
                                    ng-class="{'locked-tab-overlay': vm.entity.is_locked, 'canceled-tab-overlay': vm.entity.is_canceled}" style="min-height: 50vh">
                            <div data-ng-repeat="row in vm.range(tab.layout.rows)"
                                 layout="row"
                                 class="entity-editor-row" data-row-number="{{row}}">
                                <div data-ng-repeat="field in tab.layout.fields | orderBy: 'column' track by $index"
                                     data-ng-if="vm.checkFieldRender(tab, row, field)"
                                     class="ev-data-field"
                                     data-ng-class="{'decoration-label-line': field.attribute['value_type'] === 'decoration'}"
                                     flex="{{vm.bindFlex(tab, field)}}"
                                     data-row="{{row}}"
                                     data-column="{{field.column}}">
                                    <bind-field-control
                                            entity-type="vm.entityType"
                                            entity="vm.entity"
                                            ev-editor-data-service="vm.evEditorDataService"
                                            ev-editor-event-service="vm.evEditorEventService"
                                            item="vm.attributesLayout[tab.tabOrder][field.row][field.column]"
                                            fields-data-store="vm.fieldsDataStore"
                                            entity-change="vm.onEntityChange(fieldKey)"></bind-field-control>
                                </div>
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
<!--                <md-tab data-ng-repeat="tab in vm.entityTabs" data-ng-if="vm.checkViewState(tab)">-->
<!--                    <md-tab-lable>-->
<!--                        <span class="grey-tab">{{tab.label}}</span>-->
<!--                    </md-tab-lable>-->
<!--                    <md-tab-body>-->
<!--                        <md-content class="md-padding p-t-26">-->
<!--                            <div data-ng-include="tab.templateUrl"></div>-->
<!--                        </md-content>-->
<!--                    </md-tab-body>-->
<!--                </md-tab>-->
            </md-tabs>

            <div class="transaction-recalculating-overlay" data-ng-show="vm.processing">
                <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                    <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
                    <progress-circular diameter="100"></progress-circular>
                </div>
            </div>

        </div>

        <div data-ng-if="vm.missingLayoutError">

            <div class="text-center p-t-24">
                <div>Form Layout is not configured</div>

                <div>
                    <md-button ng-click="vm.editLayout()"
                               class="md-raised md-primary">
                        Edit Form
                    </md-button>
                </div>

            </div>

        </div>

    </div>

    <div data-ng-if="!vm.readyStatus.layout && vm.transactionTypeId">
        <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
            <!--<md-progress-circular md-mode="indeterminate" md-diameter="64"></md-progress-circular>-->
            <progress-circular diameter="60"></progress-circular>
        </div>
    </div>

</div>

<div data-ng-if="!vm.checkReadyStatus()">
    <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
        <!--<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>-->
        <progress-circular diameter="100"></progress-circular>
    </div>
</div>