<div layout="row">
    <md-button class="link-button" ng-click="vm.cancel()">
        <span>Cancel</span>
    </md-button>
</div>

<!--        Victor 2020.11.20 moved to md menu-->
<!--        <div>
            <md-button ng-click="vm.editLayout()" class="md-raised md-primary" ng-disabled="!vm.checkReadyStatus()">
                Edit Form
            </md-button>
            <md-button ng-click="vm.manageAttrs($event)" class="md-raised md-primary"
                       ng-disabled="!vm.checkReadyStatus()">
                Manage attributes
            </md-button>
        </div>-->
<div style="margin-right: 10px;">
    <!--<md-menu md-position-mode="target-right target">

        <md-button class="outline-button" ng-click="$mdOpenMenu($event)">
            <div class="flex-row flex-c-center">
                <ng-md-icon icon="more_vert" class="flex-row"></ng-md-icon>
            </div>
        </md-button>

        <md-menu-content class="universal-editor-menu-content optional-entity-menu" width="3">

            <md-menu-item ng-if="vm.allowFormLayoutEdition">
                <md-button ng-click="vm.editLayout($event)"
                           data-ng-class="{'disabled-btn': !vm.checkReadyStatus()}">
                    <div class="flex-row flex-i-center">
                        <ng-md-icon icon="edit" class="flex-row"></ng-md-icon>
                        <span class="m-l-16">Edit Form</span>
                    </div>

                </md-button>
            </md-menu-item>

            <md-menu-item>
                <md-button ng-click="vm.manageAttrs($event)"
                           data-ng-class="{'disabled-btn': !vm.checkReadyStatus()}">
                    <div class="flex-row flex-i-center">
                        <ng-md-icon icon="list" class="flex-row"></ng-md-icon>
                        <span class="m-l-16">Manage Attributes</span>
                    </div>

                </md-button>

        </md-menu-content>
    </md-menu>-->
    <md-button ng-if="vm.footerPopupData !== undefined"

               custom-popup
               popup-template-url="'views/popups/selector2-popup-view.html'"
               popup-data="vm.footerPopupData"
               open-on="click"
               position-relative-to="element"
               relative-position-y="top"

               ng-disabled="!vm.checkReadyStatus()"
               class="outline-button">
        <div class="flex-row flex-c-center">
            <ng-md-icon icon="more_vert" class="flex-row"></ng-md-icon>
        </div>
    </md-button>

<!--
    <md-button class="outline-button" data-ng-if="vm.entityType !== 'transaction'"
               ng-disabled="vm.saveBtnDisabled()"
               ng-click="vm.save($event, false)">
        Save
    </md-button>
-->
    <md-button class="outline-button"
               ng-disabled="!vm.formIsValid || vm.processing"
               ng-click="vm.save($event, false)">
        Create
    </md-button>

    <md-button class="m-r-24 primary-button"
               data-ng-class="{'disabled-btn': !vm.formIsValid || vm.processing}"
               ng-click="vm.save($event, true)">
        Create and Exit
    </md-button>
</div>