<md-dialog class="draggable-dialog"
           aria-label="add accrual for instrument inside user tab" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>{{vm.title}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content class="p-24">

        <div class="add-accrual-row m-t-8">

            <div ng-if="vm.fieldsObject.name.to_show"
                 class="add-accrual-column">
                <text-input label="{{vm.fieldsObject.name.override_name || vm.fieldsObject.name.name}}"
                            placeholder-text="{{vm.fieldsObject.name.override_name || vm.fieldsObject.name.name}}"
                            small-options="{tooltipText: vm.fieldsObject.name.tooltip}"
                            model="vm.item.name"
                            style="width: 100%"
                ></text-input>
            </div>

            <div ng-if="vm.fieldsObject.description.to_show"
                 class="add-accrual-column">
                <text-input label="{{vm.fieldsObject.description.override_name || vm.fieldsObject.description.name}}"
                            placeholder-text="{{vm.fieldsObject.description.override_name || vm.fieldsObject.description.name}}"
                            small-options="{tooltipText: vm.fieldsObject.description.tooltip}"
                            model="vm.item.description"
                            style="width: 100%"
                ></text-input>
            </div>

            <div ng-if="vm.fieldsObject.notification_class.to_show"
                 class="add-accrual-column">
                <dropdown-select label="{{vm.fieldsObject.notification_class.override_name || vm.fieldsObject.notification_class.name}}"
                                 model="vm.item.notification_class"
                                 placeholder-text="{{vm.fieldsObject.notification_class.override_name || vm.fieldsObject.notification_class.name}}"
                                 menu-options="vm.fieldsObject.notification_class.selectorOptions"
                                 small-options="{tooltipText: vm.fieldsObject.notification_class.tooltip}"
                                 style="width: 100%">
                </dropdown-select>
            </div>

            <div ng-if="vm.fieldsObject.notify_in_n_days.to_show"
                 class="add-accrual-column">
                <number-input label="{{vm.fieldsObject.notify_in_n_days.override_name || vm.fieldsObject.notify_in_n_days.name}}"
                              placeholder-text="{{vm.fieldsObject.notify_in_n_days.override_name || vm.fieldsObject.notify_in_n_days.name}}"
                              small-options="{tooltipText: vm.fieldsObject.notify_in_n_days.tooltip}"
                              model="vm.item.notify_in_n_days"
                              style="width: 100%"
                ></number-input>
            </div>

            <div ng-if="vm.fieldsObject.effective_date.to_show"
                 class="add-accrual-column">
                <multitype-field field-types-data="vm.fieldsObject.effective_date.fieldTypes"></multitype-field>
            </div>

            <div ng-if="vm.fieldsObject.final_date.to_show"
                 class="add-accrual-column">
                <multitype-field field-types-data="vm.fieldsObject.final_date.fieldTypes"></multitype-field>
            </div>

            <div ng-if="vm.fieldsObject.periodicity.to_show"
                 class="add-accrual-column">
                <dropdown-select label="{{vm.fieldsObject.periodicity.override_name || vm.fieldsObject.periodicity.name}}"
                                 model="vm.item.periodicity"
                                 placeholder-text="{{vm.fieldsObject.periodicity.override_name || vm.fieldsObject.periodicity.name}}"
                                 menu-options="vm.fieldsObject.periodicity.selectorOptions"
                                 small-options="{tooltipText: vm.fieldsObject.periodicity.tooltip}"
                                 style="width: 100%">
                </dropdown-select>
            </div>

            <div ng-if="vm.fieldsObject.periodicity_n.to_show"
                 class="add-accrual-column">
                <number-input label="{{vm.fieldsObject.periodicity_n.override_name || vm.fieldsObject.periodicity_n.name}}"
                              placeholder-text="{{vm.fieldsObject.periodicity_n.override_name || vm.fieldsObject.periodicity_n.name}}"
                              small-options="{tooltipText: vm.fieldsObject.periodicity_n.tooltip}"
                              model="vm.item.periodicity_n"
                              style="width: 100%"
                ></number-input>
            </div>

        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised" ng-click="vm.agree()" style="margin-right:20px;">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>