<md-dialog aria-label="event" class="draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Event: {{vm.event.event_schedule_object.name}} (With Reaction)</h2>
        </div>
    </md-toolbar>
    <md-dialog-content   class="custom-scrollbar md-padding">

        <p>
            {{vm.event.event_schedule_object.display_description}}
        </p>

        <p>
            <b>Please select the reaction (blue button = book as pending)</b>
        </p>

        <div layout="row">
            <md-button aria-label="event button" data-ng-repeat="item in vm.actionButtons"
                       class="md-raised {{item.is_sent_to_pending  ? 'md-primary': ''}}"
                       data-ng-bind="item.display_text" data-ng-click="vm.eventAction($event, item)"></md-button>
        </div>


    </md-dialog-content>
    <md-dialog-actions layout="column">
        <div layout="row" layout-align="space-between center" class="width-100">
            <md-button aria-label="cancel" class="md-raised md-warn" data-ng-click="vm.skip()">
                Skip
            </md-button>
            <md-button aria-label="cancel" class="md-raised" data-ng-click="vm.informed()">
                OK, do nothing
            </md-button>
            <md-button aria-label="cancel" class="md-raised {{vm.availableForApplyDefault ? '': 'disabled-btn'}}"" data-ng-click="vm.applyDefault()">
                Apply Default
            </md-button>
        </div>
        <div class="width-100">
            <md-button aria-label="cancel" class="md-warn skip-all-button"
                       data-ng-click="vm.skipAll()">
                Skip All
            </md-button>
        </div>

    </md-dialog-actions>
</md-dialog>