<md-dialog aria-label="entity edit" ng-cloak class="add-portfolio-dialog draggable-dialog" drag-dialog>
    <md-dialog-content  >

            <div class="entity-editor-special-rules-holder" data-ng-if="vm.entitySpecialRules">
                <div data-ng-include="vm.resolveSpecialRules()"></div>
            </div>
            <div data-ng-if="vm.specialRulesReady">
                <div data-ng-if="vm.checkReadyStatus()">
                    <md-tabs md-dynamic-height md-border-bottom class="tabs-colored">
                        <md-tab data-ng-repeat="tab in vm.tabs">
                            <md-tab-label>
                                <span>{{tab.name}}</span>
                            </md-tab-label>
                            <md-tab-body>
                                <md-content class="md-padding p-t-26">
                                    <div layout="row" data-ng-repeat="row in vm.range(tab.layout.rows)">
                                        <div class="ev-data-field
                                        {{field.attribute['value_type'] === 'decoration' ? 'decoration-label-line' : ''}}"
                                             data-ng-repeat="field in tab.layout.fields"
                                             flex="{{vm.bindFlex(tab, row, field)}}"
                                             data-ng-if="vm.checkFieldRender(tab, row, field)">
                                            <bind-field-control entity-type="vm.entityType" entity="vm.entity" item="vm.bindField(tab, field)"></bind-field-control>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab-body>
                        </md-tab>
                        <md-tab data-ng-repeat="tab in vm.entityTabs" data-ng-if="vm.checkViewState(tab)">
                            <md-tab-lable>
                                <span class="grey-tab">{{tab.label}}</span>
                            </md-tab-lable>
                            <md-tab-body>
                                <md-content class="md-padding p-t-26">
                                    <div data-ng-include="tab.templateUrl"></div>
                                </md-content>
                            </md-tab-body>
                        </md-tab>
                        <md-tab data-ng-if="vm.checkPermissions()">
                            <md-tab-label>
                                <span class="colored-tab">Permissions</span>
                            </md-tab-label>
                            <md-tab-body>
                                <md-content class="md-padding p-t-26">
                                    <md-content class="md-padding">
                                        <div data-ng-if="vm.readyStatus.permissions">
                                            <md-tabs md-dynamic-height md-border-bottom>
                                                <md-tab label="User permissions">
                                                    <md-content>
                                                        <div>
                                                            <div layout="column">
                                                                <div layout="row" layout-align="space-between center"
                                                                     class="permissions-table-header">
                                                                    <div>
                                                                        <div class="permissions-columns">User name</div>
                                                                    </div>
                                                                    <div layout="row" class="permissions-checkbox-holder"
                                                                         flex="30"
                                                                         layout-align="space-between center">
                                                                        <div class="permissions-columns" flex="50">Delegate
                                                                            <ng-md-icon class="tooltip-inline-block" icon="info"
                                                                                        size="20"
                                                                                        style="fill: #777777">
                                                                                <md-tooltip class="tooltip_2"
                                                                                            md-direction="top">
                                                                                    tooltip
                                                                                    text
                                                                                </md-tooltip>
                                                                            </ng-md-icon>
                                                                        </div>
                                                                        <div class="permissions-columns" flex="50">Read/Write
                                                                            <ng-md-icon class="tooltip-inline-block" icon="info"
                                                                                        size="20"
                                                                                        style="fill: #777777">
                                                                                <md-tooltip class="tooltip_2"
                                                                                            md-direction="top">
                                                                                    tooltip
                                                                                    text
                                                                                </md-tooltip>
                                                                            </ng-md-icon>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <md-divider></md-divider>
                                                            </div>
                                                            <div data-ng-repeat="member in vm.members" layout="column">
                                                                <div layout="row" layout-align="space-between center"
                                                                     class="permissions-table-row">
                                                                    <div>
                                                                        <p> {{ member["display_name"] }} </p>
                                                                    </div>
                                                                    <div layout="row" class="permissions-checkbox-holder"
                                                                         flex="30"
                                                                         layout-align="space-between center">
                                                                        <div flex="50" layout="center center">
                                                                            <md-checkbox class="md-secondary"
                                                                                         ng-model="member.objectPermissions.manage"></md-checkbox>
                                                                        </div>
                                                                        <div flex="50" layout="center center">
                                                                            <md-checkbox class="md-secondary"
                                                                                         ng-model="member.objectPermissions.change"></md-checkbox>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <md-divider></md-divider>
                                                            </div>
                                                        </div>
                                                    </md-content>
                                                </md-tab>
                                                <md-tab label="Group permissions">
                                                    <md-content>
                                                        <div>
                                                            <div layout="column">
                                                                <div layout="row" layout-align="space-between center"
                                                                     class="permissions-table-header">
                                                                    <div>
                                                                        <div class="permissions-columns">Group name</div>
                                                                    </div>
                                                                    <div layout="row" class="permissions-checkbox-holder"
                                                                         flex="30"
                                                                         layout-align="space-between center">
                                                                        <div class="permissions-columns" flex="50">Delegate
                                                                            <ng-md-icon class="tooltip-inline-block"
                                                                                        icon="info"
                                                                                        size="20"
                                                                                        style="fill: #777777">
                                                                                <md-tooltip class="tooltip_2"
                                                                                            md-direction="top">
                                                                                    tooltip
                                                                                    text
                                                                                </md-tooltip>
                                                                            </ng-md-icon>
                                                                        </div>
                                                                        <div class="permissions-columns" flex="50">
                                                                            Read/Write
                                                                            <ng-md-icon class="tooltip-inline-block"
                                                                                        icon="info"
                                                                                        size="20"
                                                                                        style="fill: #777777">
                                                                                <md-tooltip class="tooltip_2"
                                                                                            md-direction="top">
                                                                                    tooltip
                                                                                    text
                                                                                </md-tooltip>
                                                                            </ng-md-icon>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <md-divider></md-divider>
                                                            </div>
                                                            <div data-ng-repeat="group in vm.groups" layout="column">
                                                                <div layout="row" layout-align="space-between center"
                                                                     class="permissions-table-row">
                                                                    <div>
                                                                        <p> {{ group["name"] }} </p>
                                                                    </div>
                                                                    <div layout="row" class="permissions-checkbox-holder"
                                                                         flex="30"
                                                                         layout-align="space-between center">
                                                                        <div flex="50" layout="center center">
                                                                            <md-checkbox class="md-secondary"
                                                                                         ng-model="group.objectPermissions.manage"></md-checkbox>
                                                                        </div>
                                                                        <div flex="50" layout="center center">
                                                                            <md-checkbox class="md-secondary"
                                                                                         ng-model="group.objectPermissions.change"></md-checkbox>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <md-divider></md-divider>
                                                            </div>
                                                        </div>
                                                    </md-content>
                                                </md-tab>
                                            </md-tabs>
                                        </div>
                                        <div data-ng-if="!vm.readyStatus.permissions">
                                            <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                                                <md-progress-circular md-mode="indeterminate"
                                                                      md-diameter="96"></md-progress-circular>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-content>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </div>
                <div data-ng-if="!vm.checkReadyStatus()">
                    <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
                    </div>
                </div>
            </div>

            <!--            ************************************8        -->

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <div>
            <md-button class="md-raised" ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised" ng-click="vm.save()" style="margin-right:20px;">
                Save
			</md-button>
		</div>
	</md-dialog-actions>
</md-dialog>