<md-dialog aria-label="" ng-cloak class="g-report-settings-dialog-view draggable-dialog" drag-dialog style="width: 50%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Export to PDF</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content style="padding: 8px">

        <h2 style="margin: 10px 12px 28px;">Settings</h2>

        <div layout="row">

            <md-input-container>

                <label for="">Layout</label>

                <md-select data-ng-model="vm.settings.layout">
                    <md-option data-ng-repeat="item in vm.layouts" ng-value="item.value">
                        {{item.name}}
                    </md-option>
                </md-select>

            </md-input-container>

            <md-input-container>

                <label for="">Zoom %</label>

                <input type="text" data-ng-model="vm.zoomPercent" placeholder="100">

            </md-input-container>

            <md-input-container>

                <label for="">Margin</label>

                <input type="text" data-ng-model="vm.settings.margin" placeholder="4">

            </md-input-container>

        </div>

        <div layout="row" class="m-t-16">
            <!--<div class="copy-report-to-buffer">
                <md-button class="md-button md-raised"
                           data-ng-click="vm.copyReport($event)"
                           aria-label="Copy report">
                    <ng-md-icon icon="content_copy" size="24">
                        <md-tooltip class="tooltip_1" md-direction="bottom">Copy report in buffer</md-tooltip>
                    </ng-md-icon>
                    <ng-md-icon icon="content_copy" size="24"></ng-md-icon>
                    Copy to clipboard
                </md-button>
            </div>-->
            <div>
                <md-button class="md-raised" ng-click="vm.fitLayoutOnAPage()">Autocalculate zoom for layout</md-button>
            </div>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="vm.saveExportOptions()">
            Apply
        </md-button>
        <md-button ng-click="vm.agree()" class="md-primary md-raised" style="margin-right:20px;">
            Download
        </md-button>
    </md-dialog-actions>
</md-dialog>