<md-dialog class="instrument-event-action-parameter-dialog draggable-dialog dialog-actions-bottom"
           aria-label="instrument event action parameter dialog"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>{{vm.title}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="p-16">

        <div class="event-parameter-holder" data-ng-if="!vm.processsing">

            <div class="m-t-16">

                <div data-ng-repeat="parameter in vm.transactionType.context_parameters" layout="row" >

                    <md-input-container>
                        <label>Index</label>
                        <input type="text" data-ng-model="parameter.order" class="disabled-btn">
                    </md-input-container>

                    <md-input-container>
                        <label>Name</label>
                        <input type="text" data-ng-model="parameter.name" disabled>
                    </md-input-container>

                    <md-input-container class="m-t-16">
                        <label>Value Type</label>
                        <md-select data-ng-model="parameter.value_type" disabled="">
                            <md-option value="10">Text</md-option>
                            <md-option value="20">Number</md-option>
                            <md-option value="40">Date</md-option>
                        </md-select>
                    </md-input-container>

                    <div>

                        <md-input-container class="m-t-16">
                            <label>Options</label>
                            <md-select data-ng-model="parameter.event_parameter_name">
                                <md-option ng-value="parameter.name"
                                           data-ng-repeat="parameter in vm.optionsForMultipleParameters[parameter.value_type]">
                                    {{parameter.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>


                </div>

            </div>

        </div>

        <div data-ng-if="vm.processsing">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <progress-circular diameter="50"></progress-circular>
            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <div>
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="vm.agree()" style="margin-right:20px;">
                OK
            </md-button>
        </div>

    </md-dialog-actions>
</md-dialog>