<md-dialog class="success-dialog draggable-dialog dialog-actions-bottom"
           aria-label="success dialog"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2 data-ng-bind-html="vm.success.title"></h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="success-text">
            <p data-ng-bind-html="vm.success.description"></p>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vm.agree()" style="margin-right:20px;">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>