<div>

    <div layout="row" layout-align="space-between center" class="context-menu-option">
        <div>
            {{item.name}}
        </div>

        <div>
            <md-button class="md-raised" data-ng-click="addOption($event, item)">
                <ng-md-icon icon="add">
                    <md-tooltip md-direction="bottom">Add Sub Option</md-tooltip>
                </ng-md-icon>
            </md-button>


            <md-button class="md-raised" data-ng-click="moveUp(item.order)">
                <ng-md-icon icon="expand_less">
                    <md-tooltip md-direction="bottom">Move up</md-tooltip>
                </ng-md-icon>
            </md-button>

            <md-button class="md-raised" data-ng-click="moveDown(item.order)">
                <ng-md-icon icon="expand_more">
                    <md-tooltip md-direction="bottom">Move down</md-tooltip>
                </ng-md-icon>
            </md-button>

            <md-button class="md-raised" data-ng-click="editOption($event, item)">
                <ng-md-icon icon="edit">
                    <md-tooltip md-direction="bottom">Edit Option</md-tooltip>
                </ng-md-icon>
            </md-button>

            <md-button class="md-raised "
                       data-ng-click="deleteOption($event, parent, index)">
                <ng-md-icon icon="close">
                    <md-tooltip md-direction="bottom">Delete Option</md-tooltip>
                </ng-md-icon>

            </md-button>
        </div>
    </div>

    <div style="padding-left: 80px; background: #f1f1f1;">
        <div data-ng-repeat="subitem in item.items | orderBy: 'order' track by $index"
             layout="row">

            <div class="context-menu-block">
                <context-menu-constructor-option
                        parent="item"
                        item="subitem"
                        index="$index"
                        add-callback="addOption(event, subitem)"
                        edit-callback="editOption(event, subitem)"
                        delete-callback="deleteOption(event, item, index)"
                        move-up-callback="moveChildUp(itemIndex)"
                        move-down-callback="moveChildDown(itemIndex)"
                ></context-menu-constructor-option>
            </div>

        </div>
    </div>


</div>