<div class="md-toolbar-tools">
    <!--<div class="draggable-dialog-sign">
        <ng-md-icon icon="more_vert" size="24" class="dd-sign-left-icon"></ng-md-icon>
        <ng-md-icon icon="more_vert" size="24" class="dd-sign-right-icon"></ng-md-icon>

    </div>-->
    <div class="draggable-dialog-sign"><span class="material-icons">drag_indicator</span></div>

    <div class="flex_cb height-100 width-100">
        <h2 class="display-block" data-ng-bind-html="title"></h2>

        <md-button class="close-dialog-btn custom-small-icon-btn m-0 p-0"
                   ng-click="cancelDialog()">
            <span class="material-icons">close</span>
        </md-button>
    </div>

</div>