<div data-ng-if="readyStatus.content">
    <div data-ng-if="type === 'key-value'">
        <md-input-container class="md-block">
            <label data-ng-bind="getName()"></label>
            <md-select data-ng-model="item.expression" md-on-close="searchTerm = ''"
            >
                <md-select-header>
                    <input data-ng-model="searchTerm"
                           type="search"
                           placeholder="Search for a ..."
                           class="md-text md-select-search-pattern">
                </md-select-header>
                <md-option data-ng-repeat="field in fields | orderBy:'-'+field.name | filter:{name: searchTerm}"
                           ng-value="field.value">
                    {{field.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div data-ng-if="type === 'id'">
        <div data-ng-if="item.key !== 'price_download_scheme'" layout="row">
            <div flex="50">
                <md-input-container class="md-block" flex="90">
                    <label data-ng-bind="getName()"></label>
                    <md-select md-on-close="searchTerm = ''"
                               data-ng-model="item.expression"
                               md-selected-text="bindFormFields()">
                        <md-select-header>
                            <input data-ng-model="searchTerm"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern">
                        </md-select-header>
                        <md-option
                                data-ng-repeat="field in fields | orderBy:'-'+resolveSort(field) | filter:{name: searchTerm} track by field.id "
                                ng-value="field.id">
                            {{bindListFields(field)}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="50" data-ng-if="item.complexExpressionEntity === 'daily_pricing_model'">
                <md-button class="md-raised md-primary expr-btn"
                data-ng-click="vm.openExpressionDialog($event, item)">
                ...
                </md-button>
                <md-button class="md-raised md-primary complex-expr-btn"
                           data-ng-click="openMapping($event, item)">
                    Edit mapping
                </md-button>
            </div>
        </div>
        <div data-ng-if="item.key  == 'price_download_scheme'" layout="row">
            <div flex="50">
                <md-input-container class="md-block" flex="90">
                    <label data-ng-bind="getName()"></label>
                    <md-select md-on-close="searchTerm = ''"
                               data-ng-model="item.expression">
                        <md-select-header>
                            <input data-ng-model="searchTerm"
                                   type="search"
                                   placeholder="Search for a ..."
                                   class="md-text md-select-search-pattern">
                        </md-select-header>
                        <md-option
                                data-ng-repeat="field in fields | orderBy:'-'+field.user_code | filter:{user_code:searchTerm} track by field.id "
                                ng-value="field.id">
                            {{field['user_code']}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="50">
                <md-button class="md-raised md-primary expr-btn"
                           data-ng-click="vm.openExpressionDialog($event, item)">
                    ...
                </md-button>
                <md-button class="md-raised md-primary complex-expr-btn"
                           data-ng-click="openMapping($event, item)"
                           data-ng-if="item.complexExpressionEntity">
                    Edit mapping
                </md-button>
            </div>
        </div>
    </div>
</div>
<div data-ng-if="!readyStatus.content">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

