<!-- <div class="g-column-component g-thead">
	<md-card data-ng-repeat="name in columnsNames">
		<div class="g-column-content">
			<div class="column-left-content">
				<div class="sort" data-ng-if="isSortable(column)">
					<md-button class="column-sort column-btns" data-ng-show="column.options.sort === 'ASC'" aria-label="open settings" data-ng-click="sortHandler(column, 'DESC')">
						<ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
					</md-button>
					<md-button class="column-sort-up column-btns" data-ng-show="column.options.sort === 'DESC'" aria-label="open settings" data-ng-click="sortHandler(column, 'ASC')">
						<ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
					</md-button>
					<md-button class="column-sort column-both-sorted column-btns" data-ng-show="!column.options.sort" aria-label="open settings" data-ng-click="sortHandler(column, 'DESC')">
						<ng-md-icon class="c-up" icon="keyboard_arrow_up"></ng-md-icon>
						<ng-md-icon class="c-down"  icon="keyboard_arrow_down"></ng-md-icon>
					</md-button>
				</div>
				<div class="caption">
					{{name}}
				</div>
			</div>
			<div class="column-left-content">
				<div class="caption">
					{{name}}
				</div>
			</div>
		</div>
	</md-card>
</div> -->
<div>
	<table class="bordered">
		<thead>
			<tr>
				<th>Member name</th>
				<th>User role</th>
				<th>Date Joined</th>
				<th>Assigned to groups</th>
			</tr>
		</thead>
	</table>
</div>