<div class="custom-input-container classifier-input-container classifierInputContainer customInputBackgroundColor"
     ng-class="getInputContainerClasses()">

    <div class="custom-input-top-row" data-ng-if="!!label">
        <span class="custom-input-textarea-span-pan">{{label}}</span>
    </div>

    <div class="custom-input-main-container">
        <div class="custom-input-borders">
            <div class="custom-input-content">

                <div class="flex-row">

                    <button data-ng-if="!noIndicatorBtn"
                            class="custom-input-indicator-btn position-relative"
                            data-ng-click="openSelectorDialog($event)"
                            ng-disabled="isDisabled">
                        <span class="material-icons">menu</span>
                    </button>

                    <input
                            type="text"
                            placeholder="{{placeholderText}}"
                            data-ng-model="inputText"
                            data-ng-model-options="{debounce: 1000}"
                            data-ng-change="onInputTextChange()"
                            data-ng-disabled="isDisabled"
                            class="custom-input dropdown-select-input dropdownSelectInputElem"
                    />

                </div>

                <div class="custom-input-side-items flex-row customInputBackgroundColor">

                    <div class="custom-input-custom-btns-holder">
                        <div data-ng-if="customButtons && customButtons.length" class="height-100 flex-row">
                            <button data-ng-repeat="button in customButtons" class="{{button.classes}} custom-input-custom-btn"
                                    data-ng-click="callFnForCustomBtn(button.action)">
                                {{button.caption}}
                                <ng-md-icon data-ng-if="button.iconObj.type === 'angularjs-material'"
                                            size="24"
                                            icon="{{button.iconObj.icon}}"
                                            class="ci-custom-btn-icon"></ng-md-icon>

                                <md-tooltip data-ng-if="button.tooltip"
                                            class="tooltip_1"
                                            md-direction="top">{{button.tooltip}}
                                </md-tooltip>
                            </button>
                        </div>
                    </div>

                    <div data-ng-if="error" class="custom-input-tooltip">
                        <span class="material-icons">info</span>
                        <md-tooltip class="error-tooltip" md-direction="top">{{error}}</md-tooltip>
                    </div>

                    <div data-ng-if="tooltipText" data-ng-show="!error" class="custom-input-tooltip">
                        <span class="material-icons ci-icon-color">info_outline</span>
                        <md-tooltip class="tooltip_2" md-direction="top" data-ng-bind="tooltipText"></md-tooltip>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div data-ng-if="dropdownMenuHidden"
         class="custom-input-sel-menu-container custom-input-dropdown-div selectMenuContainer">

        <div class="custom-input-sel-menu-block">
            <div data-ng-repeat="option in menuOptions | filter: inputText"
                 data-ng-click="selectOption(option)"
                 data-ng-bind="option.name"
                 class="custom-input-sel-option"
                 style="padding-left: {{(option.level + 1) * 10}}px;"
            ></div>
        </div>

    </div>

    <div ng-if="error"
         ng-bind="error"
         class="custom-input-bottom-error-text"></div>

</div>
