<div class="custom-input-container date-input-container dateInputContainer"
     data-ng-class="getInputContainerClasses()">

    <div ng-if="label"
         class="custom-input-top-row">
        <span class="custom-input-textarea-span-pan">{{label}}</span>
    </div>

  <div class="custom-input-main-container customInputBackgroundColor">
    <div class="custom-input-borders">
      <div class="custom-input-content">
        <!--<div data-ng-if="error" class="custom-input-error-tooltip">
          <ng-md-icon
            icon="info_outline"
            size="28"
            class="tooltip-sign"
          ></ng-md-icon>
          <md-tooltip class="error-tooltip" md-direction="top">
            {{error}}
          </md-tooltip>
        </div>-->

        <div class="flex-row">
          <button data-ng-if="!noIndicatorBtn"
                  class="custom-input-indicator-btn position-relative"
                  data-ng-click="focusDateInput()"
                  ng-disabled="isDisabled">
            <span class="material-icons">event</span>
          </button>

          <input type="text"
                 ng-model="dateValue"
                 ng-change="onDateChange(dateValue)"
                 placeholder="{{placeholder}}"
                 ng-disabled="isDisabled"
                 class="custom-input date-input pick-me-up dateInputElem" />
        </div>


        <div class="custom-input-side-items flex-row customInputBackgroundColor">

          <div class="custom-input-custom-btns-holder">

            <div data-ng-if="plussMinusButtons.length" class="height-100 flex-column">

              <button data-ng-repeat="button in plussMinusButtons"
                      class="{{button.classes}} custom-input-custom-btn"
                      data-ng-click="callFnForCustomBtn(button.action)">
                {{button.caption}}
                <span class="material-icons ci-custom-btn-icon">{{button.iconObj.icon}}</span>

                <md-tooltip data-ng-if="button.tooltip"
                            class="tooltip_1"
                            md-direction="top">{{button.tooltip}}</md-tooltip>
              </button>

            </div>

            <div data-ng-if="usualCustomButtons.length"
                 class="height-100 flex-row">

              <button data-ng-repeat="button in usualCustomButtons"
                      class="{{button.classes}} custom-input-custom-btn"
                      data-ng-click="callFnForCustomBtn(button.action)">
                {{button.caption}}
                <ng-md-icon ng-if="button.iconObj.type === 'angularjs-material'"
                            size="28"
                            icon="{{button.iconObj.icon}}"
                            style="fill: #777777"></ng-md-icon>
                <span ng-if="button.iconObj.type === 'angular-material'"
                      class="material-icons ci-icon-color">{{button.iconObj.icon}}</span>

                <md-tooltip ng-if="button.tooltip"
                            class="tooltip_1"
                            md-direction="top">
                  {{button.tooltip}}
                </md-tooltip>

              </button>

            </div>

          </div>

          <div data-ng-if="emptyInputButton === 'true'"
               class="height-100 flex-row">

            <button class="custom-input-custom-btn"
                    ng-disabled="isDisabled"
                    data-ng-click="emptyInput()">
              <span class="material-icons ci-icon-color">close</span>

              <md-tooltip ng-if="button.tooltip"
                          class="tooltip_1"
                          md-direction="top">Empty field</md-tooltip>

            </button>

          </div>

          <div data-ng-if="error" class="custom-input-tooltip">
            <span class="material-icons">info</span>
            <md-tooltip class="error-tooltip" md-direction="top">{{error}}</md-tooltip>
          </div>

          <div data-ng-if="tooltipText" data-ng-show="!error" class="custom-input-tooltip">
            <span class="material-icons ci-icon-color">info_outline</span>
            <md-tooltip class="tooltip_2" md-direction="top" data-ng-bind="tooltipText"></md-tooltip>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div ng-if="error"
       ng-bind="error"
       class="custom-input-bottom-error-text"></div>
</div>
