<div class="custom-input-container smart-search-input-container smartSearchInputContainer"
     data-ng-class="getInputContainerClasses()">
    <div ng-if="label" class="custom-input-top-row">
        <span class="custom-input-textarea-span-pan">{{label}}</span>
    </div>

  <div custom-popup
       popup-template-url="'views/popups/smart-search-popup-view.html'"
       popup-data="menuOptionsPopupData"
       popup-event-service="popupEventService"
       position-relative-to="element"
       popup-width="element"
       relative-popup-x="left"
       relative-popup-y="bottom"
       offset-y="2"
       open-on="click"
       close-on-click-outside="true"
       on-cancel="onMenuPopupClose()"

       class="custom-input-main-container customInputBackgroundColor">

    <div class="custom-input-borders">
      <div class="custom-input-content">

        <div class="flex-row">
          <button data-ng-if="!noIndicatorBtn"
                  class="custom-input-indicator-btn position-relative"
                  data-ng-click="openSmartSearch($event)"
                  ng-disabled="isDisabled">
            <span class="material-icons">menu</span>
          </button>

          <input
            type="text"
            placeholder="{{placeholderText}}"
            data-ng-model="inputText"
            data-ng-model-options="{debounce: 1000}"
            data-ng-change="onInputTextChange()"
            data-ng-disabled="isDisabled"
            data-ng-keypress="selectFirst($event)"
            class="custom-input smart-search-input smartSearchInputElem"
          />
        </div>

        <div class="custom-input-side-items flex-row customInputBackgroundColor">

          <div class="custom-input-custom-btns-holder">
            <div data-ng-if="customButtons && customButtons.length" class="height-100 flex-row">
              <button data-ng-repeat="button in customButtons" class="{{button.classes}} custom-input-custom-btn"
                      data-ng-click="callFnForCustomBtn(button.action)">
                {{button.caption}}
                <ng-md-icon data-ng-if="button.iconObj.type === 'angularjs-material'"
                            size="24"
                            icon="{{button.iconObj.icon}}"
                            class="ci-icon-color"></ng-md-icon>
                <span data-ng-if="button.iconObj.type === 'angular-material'"
                      class="material-icons ci-icon-color">{{button.iconObj.icon}}</span>

                <md-tooltip data-ng-if="button.tooltip"
                            class="tooltip_1"
                            md-direction="top">{{button.tooltip}}
                </md-tooltip>
              </button>
            </div>
          </div>

          <div data-ng-if="error" class="custom-input-tooltip">
            <span class="material-icons">info</span>
            <md-tooltip class="error-tooltip" md-direction="top">{{error}}</md-tooltip>
          </div>

          <div data-ng-if="tooltipText" data-ng-show="!error" class="custom-input-tooltip">
            <span class="material-icons ci-icon-color">info_outline</span>
            <md-tooltip class="tooltip_2" md-direction="top" data-ng-bind="tooltipText"></md-tooltip>
          </div>

        </div>

      </div>
    </div>

  </div>

  <!--<div data-ng-if="selectorOptions" class="custom-input-sel-menu-container selectMenuContainer m-t-8">
    <div class="custom-input-sel-menu-block">
      <div data-ng-repeat="option in selectorOptions track by $index" data-ng-mousedown="selectOption(option)" tabindex="0"
        data-ng-bind="option.short_name" class="custom-input-sel-option"></div>
      <div class="custom-input-sel-menu-block-btns-pan flex_c">
        <button class="md-raised md-primary md-button md-ink-ripple m-b-8" data-ng-click="createEntity($event)">
          Create
        </button>
        <button data-ng-if="entityType === 'instrument'" class="md-raised md-primary md-button md-ink-ripple m-b-8"  data-ng-click="downloadEntity($event)">
          Download
        </button>
        <button data-ng-if="entityType === 'instrument'" class="md-raised md-primary md-button md-ink-ripple">
          Generate
        </button>
      </div>
    </div>
  </div>-->

  <div ng-if="error"
       ng-bind="error"
       class="custom-input-bottom-error-text"></div>
</div>