<div class="custom-input-container expression-input-container textInputContainer"
  data-ng-class="getInputContainerClasses()">
  <!-- <div class="custom-input-top-row">
        <div data-ng-bind="label" class="custom-input-label"></div>


    </div> -->
  <div class="custom-input-top-row">
    <span class="custom-input-textarea-span-pan">{{label}}</span>
  </div>

  <div class="custom-input-main-container">
    <div class="custom-input-borders">
      <div class="custom-input-content">

        <div class="flex-row">

          <button data-ng-if="!noIndicatorBtn"
                  class="custom-input-indicator-btn"
                  data-ng-click="openExpressionBuilder($event)"
                  data-ng-disabled="isReadonly">
            <span class="material-icons">functions</span>
          </button>

          <input data-ng-model="model"
                 ng-readonly="isReadonly"
                 ng-disabled="isDisabled"
                 data-ng-change="onInputChange()"
                 type="text"
                 placeholder="Expression"
                 class="custom-input expression-input textInputElem" />

        </div>

        <div class="custom-input-side-items flex-row customInputBackgroundColor">

          <div class="custom-input-custom-btns-holder">
            <div data-ng-if="customButtons && customButtons.length" class="height-100">
              <button ng-repeat="button in customButtons"
                      ng-click="callFnForCustomBtn(button.action)"
                      ng-disabled="isDisabled"
                      class="{{button.classes}} custom-input-custom-btn">
                {{button.caption}}
                <ng-md-icon data-ng-if="button.iconObj.type === 'angularjs-material'"
                            size="24"
                            icon="{{button.iconObj.icon}}"
                            class="ci-icon-color"></ng-md-icon>
                <span data-ng-if="button.iconObj.type === 'angular-material'"
                      class="material-icons ci-icon-color">{{button.iconObj.icon}}</span>

                <md-tooltip data-ng-if="button.tooltip"
                            class="tooltip_1"
                            md-direction="top">{{button.tooltip}}
                </md-tooltip>
              </button>
            </div>
          </div>

          <div data-ng-if="error" class="custom-input-tooltip">
            <span class="material-icons">info</span>
            <md-tooltip class="error-tooltip" md-direction="top">{{error}}</md-tooltip>
          </div>

          <div data-ng-if="tooltipText" data-ng-show="!error" class="custom-input-tooltip">
            <span class="material-icons ci-icon-color">info_outline</span>
            <md-tooltip class="tooltip_2" md-direction="top" data-ng-bind="tooltipText"></md-tooltip>
          </div>

        </div>

      </div>
    </div>

    <!-- <div class="custom-input-full-text-container customInputFullText">
      <textarea data-ng-model="model"
                data-ng-change="onInputChange()"
                ng-readonly="isReadonly"
                ng-disabled="isDisabled"
                class="custom-input-full-text customInputBackgroundColor"></textarea>
    </div> -->

  </div>

  <div ng-if="error"
       ng-bind="error"
       class="custom-input-bottom-error-text"></div>
</div>