<div class="custom-input-container instrument-input-container instrumentSelectInputContainer"
         data-ng-class="getInputContainerClasses()">

    <div ng-if="label" class="custom-input-top-row">
        <span class="custom-input-textarea-span-pan">{{label}}</span>
    </div>

    <div class="custom-input-main-container customInputBackgroundColor">
        <div class="custom-input-borders">
            <div class="custom-input-content">

                <div class="flex-row">

                    <button data-ng-if="!noIndicatorBtn"
                                    class="custom-input-indicator-btn position-relative"
                                    data-ng-click="openSelectorDialog($event)"
                                    ng-disabled="isDisabled">
                        <span class="material-icons">menu</span>
                    </button>

                    <input
                        type="text"
                        placeholder="{{label}}"
                        data-ng-model="inputText"
                        data-ng-model-options="{debounce: 1000}"
                        data-ng-change="onInputTextChange()"
                        data-ng-focus="onInputFocus()"
                        data-ng-disabled="isDisabled"
                        data-ng-keypress="selectFirst($event)"
                        class="custom-input instrument-input instrumentSelectInputElem"
                    />

                </div>

                <div class="custom-input-side-items flex-row customInputBackgroundColor">

                    <div class="custom-input-custom-btns-holder">
                        <div data-ng-if="customButtons && customButtons.length" class="height-100 flex-row">
                            <button data-ng-repeat="button in customButtons" class="{{button.classes}} custom-input-custom-btn"
                                            data-ng-click="callFnForCustomBtn(button.action)">
                                {{button.caption}}
                                <ng-md-icon data-ng-if="button.iconObj.type === 'angularjs-material'"
                                            size="24"
                                            icon="{{button.iconObj.icon}}"
                                            class="ci-icon-color"></ng-md-icon>

                                <span data-ng-if="button.iconObj.type === 'angular-material'"
                                      class="material-icons ci-icon-color">{{button.iconObj.icon}}</span>

                                <md-tooltip data-ng-if="button.tooltip"
                                                        class="tooltip_1"
                                                        md-direction="top">{{button.tooltip}}
                                </md-tooltip>
                            </button>
                        </div>
                    </div>

                    <div data-ng-if="error" class="custom-input-tooltip">
                        <span class="material-icons">info</span>
                        <md-tooltip class="error-tooltip" md-direction="top">{{error}}</md-tooltip>
                    </div>

                    <div data-ng-if="tooltipText" data-ng-show="!error" class="custom-input-tooltip">
                        <span class="material-icons ci-icon-color">info_outline</span>
                        <md-tooltip class="tooltip_2" md-direction="top" data-ng-bind="tooltipText"></md-tooltip>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div ng-if="dropdownMenuShown"
         class="custom-input-sel-menu-container custom-input-dropdown-div selectMenuContainer" >

        <div class="custom-input-sel-menu-block" >

            <div data-ng-if="!processing" style="height: 369px; overflow-y: auto">

                <b data-ng-if="localInstruments.length" class="instrument-select-options-group-title">Local Instruments ({{localInstrumentsTotal}})</b>

                <div data-ng-if="localInstruments.length">

                    <div
                            data-ng-repeat="option in localInstruments"
                            data-ng-click="selectLocalInstrument(option)"
                            class="instrument-select-input-sel-option"
                            ng-mouseover="setHoverInstrument($event, option)"

                    >

                        <div class="instrument-select-instrument-name" data-ng-bind-html="getHighlighted(option.name)">

                        </div>
                        <div class="instrument-select-instrument-isin" data-ng-bind-html="getHighlighted(option.user_code)">

                        </div>

                        <div class="instrument-select-instrument-ticker" data-ng-if="option.reference_for_pricing">
                            {{option.reference_for_pricing}}
                        </div>

                    </div>

                </div>


                <b data-ng-if="databaseInstruments.length" style=" bottom: 0px;" class="instrument-select-options-group-title">Global Instruments ({{databaseInstrumentsTotal}})</b>


                <div data-ng-if="databaseInstruments.length">

                    <div
                            data-ng-repeat="option in databaseInstruments"
                            data-ng-click="selectDatabaseInstrument(option)"
                            class="instrument-select-input-sel-option"
                            ng-mouseover="setHoverInstrument($event, option)"
                            >


                        <div class="instrument-select-instrument-name" data-ng-bind-html="getHighlighted(option.issueName)">

                        </div>
                        <div class="instrument-select-instrument-isin" data-ng-bind-html="getHighlighted(option.referenceId)">

                        </div>

                        <div class="instrument-select-instrument-ticker" data-ng-if="option.bloombergTicker">
                            {{option.bloombergTicker}}
                        </div>

                    </div>

                </div>

                <div data-ng-if="!localInstruments.length && !databaseInstruments.length">
                    <b class="instrument-select-options-group-title">Not instruments found</b>
                </div>



            </div>

            <div data-ng-if="processing"  layout="row" layout-sm="column" layout-align="space-around" class="p-8">
                <progress-circular diameter="50"></progress-circular>
            </div>

        </div>

        <div class="instrument-select-option-detail-box" data-ng-if="inputText.length > 2">

            <div data-ng-if="hoverInstrument">

                <div data-ng-if="hoverInstrument.available_for_update" class="instrument-select-update-instrument-button">
                    <span class="material-icons  {{isUpdatingInstrument ? 'disabled-btn' : ''}}" ng-click="updateLocalInstrument(hoverInstrument)">autorenew</span>
                </div>

                <div class="instrument-select-option-detail-field">

                    <div class="instrument-select-option-detail-label">
                        Instrument
                    </div>
                    <div class="instrument-select-option-detail-value" style="width: 140px">

                        <span data-ng-if="hoverInstrument.id">{{hoverInstrument.name}}</span>
                        <span data-ng-if="!hoverInstrument.id">{{hoverInstrument.issueName}}</span>

                    </div>

                </div>

                <div class="instrument-select-option-detail-field">

                    <div class="instrument-select-option-detail-label">
                        ISIN
                    </div>
                    <div class="instrument-select-option-detail-value">

                        <span data-ng-if="hoverInstrument.id">{{hoverInstrument.user_code}}</span>
                        <span data-ng-if="!hoverInstrument.id">{{hoverInstrument.referenceId}}</span>

                    </div>

                </div>

                <div class="instrument-select-option-detail-field">

                    <div class="instrument-select-option-detail-label">
                        Ticker
                    </div>
                    <div class="instrument-select-option-detail-value">

                        <span data-ng-if="hoverInstrument.id">{{hoverInstrument.reference_for_pricing}}</span>
                        <span data-ng-if="!hoverInstrument.id">{{hoverInstrument.bloombergTicker}}</span>

                    </div>

                </div>

                <div class="instrument-select-option-detail-field">

                    <div class="instrument-select-option-detail-label">
                        Type
                    </div>
                    <div class="instrument-select-option-detail-value">

                        <span data-ng-if="hoverInstrument.id">{{hoverInstrument.instrument_type_object.name}}</span>
                        <span data-ng-if="!hoverInstrument.id">{{hoverInstrument.instrumentType}}</span>

                    </div>

                </div>

                <div class="instrument-select-option-detail-field">

                    <div class="instrument-select-option-detail-label">
                        FIGI / FIGI RegS
                    </div>
                    <div class="instrument-select-option-detail-value">

                        <span data-ng-if="hoverInstrument.id">-</span>
                        <span data-ng-if="!hoverInstrument.id">{{hoverInstrument.figi}}</span>

                    </div>

                </div>

                <div class="instrument-select-option-detail-field">

                    <div class="instrument-select-option-detail-label">
                        Common Code
                    </div>
                    <div class="instrument-select-option-detail-value">

                        <span data-ng-if="hoverInstrument.id">-</span>
                        <span data-ng-if="!hoverInstrument.id">{{hoverInstrument.commonCode}}</span>

                    </div>

                </div>

                <div class="instrument-select-option-detail-field">

                    <div class="instrument-select-option-detail-label">
                        Updating Date
                    </div>
                    <div class="instrument-select-option-detail-value">

                        <span data-ng-if="hoverInstrument.id">{{hoverInstrument.pretty_date}}</span>
                        <span data-ng-if="!hoverInstrument.id">{{hoverInstrument.pretty_date}}</span>

                    </div>

                </div>

                <div class="instrument-select-option-detail-field">

                    <div class="instrument-select-option-detail-label">
                        WKN Code
                    </div>
                    <div class="instrument-select-option-detail-value">

                        <span data-ng-if="hoverInstrument.id">-</span>
                        <span data-ng-if="!hoverInstrument.id">{{hoverInstrument.wkn}}</span>

                    </div>

                </div>


            </div>

        </div>

    </div>

    <div ng-if="error"
         ng-bind="error"
         class="custom-input-bottom-error-text"></div>

</div>
