<md-dialog aria-label="" ng-cloak class="warning-dialog draggable-dialog width-70" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Missing Custom Fields</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="p-24">

        <div>

            <div>

                <div layout="row">

                    <div class="m-8" style="width: 400px">
                        Key
                    </div>

                    <div class="m-8" style="width: 400px">
                        Description
                    </div>

                </div>

                <div data-ng-repeat="item in vm.items" layout="column">

                    <div layout="row">

                        <div layout="row">

                            <div class="m-8" style="width: 300px">
                                {{item.key}}
                            </div>

                            <div class="m-8" style="width: 500px">
                                {{item.description}}
                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.agree()" style="margin-right:20px;">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>