<div flex="50">
    <md-input-container class="md-block">
        <label>Old password</label>
        <input data-ng-model="vm.data.password" type="password">
    </md-input-container>
    <md-input-container class="md-block">
        <label>New password</label>
        <input data-ng-model="vm.data.new_password" type="password">
    </md-input-container>
    <md-input-container class="md-block">
        <label>New password (Confirm)</label>
        <input data-ng-model="vm.data.new_password_check" type="password">
    </md-input-container>
    <md-button class="md-raised" data-ng-click="vm.save($event)">Save</md-button>
</div>
<div data-ng-if="vm.readyStatus.finished">
    <h2>You have successfully changed your password</h2>
</div>
<div data-ng-if="vm.readyStatus.proccessing">
    <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
</div>