<div>

    <p class="md-headline">Configuration settings</p>

    <div class="md-title">Import configuration</div>

    <div style="min-height: 200px; padding-top: 16px;" layout="row">

        <div style="width: 300px; margin-right: 24px">

            <md-input-container flex="40" style="margin-bottom: 0" class="ng-hide">
                <input type="file"
                       accept=".fcfg"
                       id="configurationFileImport"
                       input-file-directive
                       read-file="vm.configurationFile"
                       read-file-change="vm.checkExtension(vm.configurationFile, 'fcfg', $event)">
            </md-input-container>
            <div class="input-upload-file-container">
                <p class="configurationFileImport">Select file</p>
                <label for="configurationFileImport" class="md-button md-raised md-primary IFUlabel">
                    <ng-md-icon icon="file_upload"></ng-md-icon>
                    <span>BROWSE</span></label>
            </div>

        </div>

        <div style="width: 300px;">

            <button style="margin-top: 0"
                    class="md-raised clear-all full-width md-button md-ink-ripple {{vm.configurationFileIsAvailable() ? '' : 'disabled-btn' }}"
                    type="button"
                    data-ng-click="vm.openImportConfigurationManager($event)">Import
            </button>

        </div>

    </div>

    <div class="md-title">Import mapping</div>

    <div style="min-height: 200px; padding-top: 16px;" layout="row">

        <div style="width: 300px; margin-right: 24px">

            <md-input-container flex="40" style="margin-bottom: 0" class="ng-hide">
                <input type="file"
                       accept=".fmpg"
                       id="mappingFileImport"
                       input-file-directive
                       read-file="vm.mappingFile"
                       read-file-change="vm.checkExtension(vm.mappingFile, 'fmpg', $event)">
            </md-input-container>
            <div class="input-upload-file-container">
                <p class="mappingFileImport">Select file</p>
                <label for="mappingFileImport" class="md-button md-raised md-primary IFUlabel">
                    <ng-md-icon icon="file_upload"></ng-md-icon>
                    <span>BROWSE</span></label>
            </div>

        </div>

        <div style="width: 300px;">

            <button style="margin-top: 0"
                    class="md-raised clear-all full-width md-button md-ink-ripple {{vm.mappingFileIsAvailable() ? '' : 'disabled-btn' }}"
                    type="button"
                    data-ng-click="vm.openImportMappingManager($event)">Import
            </button>

        </div>

    </div>

    <div class="md-title">Export section</div>

    <div style="min-height: 200px; padding-top: 16px" layout="row">

        <div>

            <a class="md-raised clear-all full-width md-button md-ink-ripple" type="button"
               data-ng-click="vm.openExportConfigurationManager($event)">Export all as file
            </a>

        </div>

        <div>

            <a class="md-raised clear-all full-width md-button md-ink-ripple" type="button"
               data-ng-click="vm.openExportMappingManager($event)">Export all mappings as
                file
            </a>

        </div>

    </div>

</div>