<div>
    <md-list flex>
        <md-list-item class="md-3-line" ng-click="vm.goToState('portfolio')">
            Portfolios
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="vm.goToState('account')">
            Accounts
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="vm.goToState('counterparty')">
            Counterparties
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="vm.goToState('responsible')">
            Responsibles
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="vm.goToState('instrument')">
            Instruments
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="vm.goToState('transaction')">
            Transactions
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="vm.goToState('price-history')">
            Price history
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="vm.goToState('currency-history')">
            Currency history
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</div>