<div flex="50" data-ng-if="vm.readyStatus.member" style="padding: 20px 20px 0">

    <md-input-container class="md-block" style="height: 64px">
        <label>Notification</label>
        <md-select data-ng-model="vm.member.notification_level">
            <md-option value="4">Portal popups only notifications</md-option>
            <md-option value="3">Email only notifications</md-option>
            <md-option value="2">Portal popups & Email notifications</md-option>
            <md-option value="1">Do not notify</md-option>
        </md-select>
    </md-input-container>

    <md-button class="md-raised" data-ng-click="vm.save()">Save</md-button>
</div>
<div data-ng-if="!vm.readyStatus.member">
    <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
</div>