<div>

    <div layout="row">

<!--        <md-input-container class="md-block disabled-btn" style="width: 200px;">-->
<!--            <label>System Currency</label>-->
<!--            <md-select data-ng-model="vm.system_currency"-->
<!--                       md-container-class="common-select-container">-->
<!--                <div class="select-options-holder">-->
<!--                    <md-option-->
<!--                            data-ng-repeat="item in vm.systemCurrencies track by item.id "-->
<!--                            ng-value="item.id">-->
<!--                        {{item.name}}-->
<!--                    </md-option>-->
<!--                </div>-->
<!--            </md-select>-->
<!--        </md-input-container>-->

        <dropdown-select class="p-r-8" label="System Currency"
                         model="vm.system_currency"
                         placeholder-text="System Currency"
                         menu-options="vm.systemCurrencies"
                         small-options="{tooltipText: 'System Currency'}"
                         isDisabled="true"
                         style="width: 200px;">
        </dropdown-select>

<!--        <md-input-container class="md-block" style="width: 550px;">-->
<!--            <label>Pricing Condition</label>-->
<!--            <md-select md-on-close="vm.searchTermPricingCondition = ''"-->
<!--                       data-ng-model="vm.entity.pricing_condition"-->
<!--                       md-container-class="common-select-container">-->
<!--                <md-select-header>-->
<!--                    <input data-ng-model="vm.searchTermPricingCondition"-->
<!--                           type="search"-->
<!--                           placeholder="Search for a ..."-->
<!--                           class="md-text md-select-search-pattern select-input-filter"-->
<!--                           ng-keydown="$event.stopPropagation()">-->
<!--                </md-select-header>-->
<!--                <div class="select-options-holder">-->
<!--                    <md-option ng-value="1">-->
<!--                        Don't Run Valuation-->
<!--                    </md-option>-->
<!--                    <md-option ng-value="2">-->
<!--                        Run Valuation: if non-zero position-->
<!--                    </md-option>-->
<!--                    <md-option ng-value="3">-->
<!--                        Run Valuation: always-->
<!--                    </md-option>-->
<!--                </div>-->
<!--            </md-select>-->
<!--        </md-input-container>-->

        <dropdown-select class="p-r-8" label="Pricing Condition"
                         model="vm.entity.pricing_condition"
                         placeholder-text="Pricing Condition"
                         menu-options="vm.pricingConditions"
                         small-options="{tooltipText: 'Pricing Condition'}"
                         style="width: 550px;">
        </dropdown-select>

<!--        <md-input-container style="width: 200px;">-->
<!--            <label for="">ID for FX Download</label>-->
<!--            <input type="text" data-ng-model="vm.entity.reference_for_pricing">-->
<!--        </md-input-container>-->

        <text-input model="vm.entity.reference_for_pricing"
                    label="ID for FX Download"
                    placeholder-text="ID for FX Download"
                    style="width: 200px;">
        </text-input>

        <div>

            <md-button class="md-raised md-primary" data-ng-if="vm.entity.id"
                       data-ng-click="vm.runPricingCurrency($event)">Run Pricing
            </md-button>

        </div>

    </div>

    <table>

        <thead>

        <tr>

            <th>
                Pricing Policy
            </th>

            <th>
                Pricing Scheme
            </th>

            <th>
                Pricing Scheme Clarification
            </th>

            <th>
                Parameter Clarification
            </th>

            <th>
                Edit Default Parameters
            </th>

            <th>
                Multiple Parameters
            </th>

            <th>
                Edit Scheme
            </th>

            <th>
                Notes
            </th>


        </tr>

        </thead>

        <tbody>

        <tr data-ng-repeat="item in vm.entity.pricing_policies">

            <td>
                {{item.pricing_policy_object.name}}
            </td>

            <td>
                <md-input-container class="m-t-16">
                    <md-select data-ng-model="item.pricing_scheme"
                               data-ng-change="vm.pricingSchemeChange(item)">
                        <md-option ng-value="scheme.id" data-ng-repeat="scheme in vm.currencyPricingSchemes">
                            {{scheme.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </td>

            <td>
                {{item.pricing_scheme_object.notes_for_users}}
            </td>

            <td>
                {{item.pricing_scheme_object.notes_for_parameter}}
            </td>

            <td>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type == 1">
                    -
                </div>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type != 1" class="m-t-16"
                     data-ng-init="item.default_value ? item.switchState = 'default_value' : item.switchState = 'attribute_key'">

                    <div layout="row" data-ng-if="item.switchState == 'default_value'">

                        <md-input-container>
                            <label>Default Value</label>
                            <input type="text" data-ng-model="item.default_value">
                        </md-input-container>

                        <md-button class="md-raised md-primary"
                                   data-ng-click="vm.switchPricingPolicyParameter($event, item)">Switch
                        </md-button>

                    </div>

                    <div layout="row" data-ng-if="item.switchState == 'attribute_key'">

                        <md-input-container class="m-t-16">
                            <label>Options</label>
                            <md-select data-ng-model="item.attribute_key">
                                <md-option ng-value="attribute.user_code"
                                           data-ng-repeat="attribute in vm.attributeTypesByValueTypes[item.pricing_scheme_object.type_settings.value_type]">
                                    {{attribute.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-button class="md-raised md-primary"
                                   data-ng-click="vm.switchPricingPolicyParameter($event, item)">Switch
                        </md-button>

                    </div>

                </div>

            </td>

            <td>

                <div data-ng-if="item.pricing_scheme_object.type_object.input_type == 3">
                    -
                </div>

                <div class="m-t-16" data-ng-if="item.pricing_scheme_object.type_object.input_type == 3">

                    <md-button class="md-raised" data-ng-click="vm.openPricingMultipleParametersDialog($event, item)">
                        ...
                    </md-button>

                </div>

            </td>

            <td>
                <md-button class="md-raised" data-ng-click="vm.editPricingScheme($event, item.pricing_scheme_object)"
                           ng-disabled="!item.pricing_scheme && item.pricing_scheme !== 0">
                    Edit
                </md-button>
            </td>

            <td>
                <md-input-container>
                    <label>Notes</label>
                    <input type="text" data-ng-model="item.notes">
                </md-input-container>
            </td>

        </tr>

        </tbody>


    </table>


</div>