<div style="padding-bottom: 100px;">


    <table>

        <thead>

        <tr>

            <th>
                Priority
            </th>

            <th>
                Primary Forms User codes
            </th>

            <th>
                &nbsp;
            </th>

        </tr>

        </thead>

        <tbody>

        <tr data-ng-repeat="item in vm.instrLayoutsFromItype track by $index">

            <td>
                {{$index + 1}}
            </td>

            <td>
                {{item.user_code}}
            </td>

            <td>
                <md-button class="md-raised md-primary" data-ng-class="{'disabled-btn': $index - 1 < 0}"
                           data-ng-click="vm.instrumentTypeMoveLayoutUp($event, item, $index)">
                    Up
                </md-button>
                <md-button class="md-raised md-primary"
                           data-ng-class="{'disabled-btn': $index + 1 >= vm.instrLayoutsFromItype.length}"
                           data-ng-click="vm.instrumentTypeMoveLayoutDown($event, item, $index)">
                    Down
                </md-button>
                <md-button class="md-raised md-primary" data-ng-click="vm.instrumentTypeDeleteInstrLayout($event, item, $index)">
                    Delete
                </md-button>

                <md-button class="md-raised md-primary" data-ng-click="vm.editInstrFormLayout($event, item)">
                    Edit layout
                </md-button>
            </td>


        </tr>

        </tbody>


    </table>

    <div layout="row" class="p-t-16">

        <!--<div class="position-relative">
            <md-input-container>
                <label>Form User Code</label>
                <input type="text" data-ng-model="vm.instrumentTypeNewLayoutUserCode"
                       ng-focus="vm.showInstrumentFormLayouts = true">
            </md-input-container>

            <div data-ng-if="vm.showInstrumentFormLayouts" class="instrument-form-layout-autocomplete">
                <div data-ng-repeat="layout in vm.instrumentFormLayouts | filter : {user_code: vm.instrumentTypeNewLayoutUserCode}">
                    <div data-ng-click="vm.instrumentTypeNewLayoutUserCode = layout.user_code; vm.showInstrumentFormLayouts = false" class="m-4">
                        {{layout.user_code}}
                    </div>
                </div>
            </div>

        </div>-->
        <dropdown-select label="Instrument Form layout"
                         model="vm.newInstrFormLayoutUserCode"
                         menu-options="vm.instrumentFormLayoutsOptions"
                         small-options="{tooltipText: 'Select form layout of instrument to add'}"></dropdown-select>

        <md-button class="md-raised md-primary" data-ng-click="vm.addInstrLayoutToInstrumentType()"
                   ng-disabled="!vm.newInstrFormLayoutUserCode">
            Add
        </md-button>
    </div>

    <div>
        <md-button class="md-raised"
                   ng-click="vm.createInstrFormLayout($event)">CREATE LAYOUT FOR INSTRUMENT FORM</md-button>
    </div>


</div>