<div class="height-100" data-ng-if="readyStatus.data === 'ready'">

<!--    <div class="dashboard-component-header" flex="noshrink">-->
<!--        <div class="dashboard-component-name">-->
<!--            <span class data-ng-if="customName" title="{{customName}}" data-ng-bind="customName"></span>-->
<!--            <span data-ng-if="!customName && item" title="{{item.data.name}}" data-ng-bind="item.data.name"></span>-->
<!--        </div>-->

<!--        <div class="dashboard-component-header-right">-->

            <!--<md-button data-ng-if="fillInModeData"-->
                       <!--data-ng-click="disableFillInMode()">-->
                <!--<ng-md-icon size="24" icon="close"></ng-md-icon>-->
                <!--<md-tooltip data-md-direction="top">Collapse Component</md-tooltip>-->
            <!--</md-button>-->

<!--            <md-button  data-ng-if="missingPricesData.items.length" class="md-raised md-warn" data-ng-click="openMissingPricesDialog($event)">-->
<!--                <ng-md-icon size="24" icon="warning"></ng-md-icon>-->
<!--                <md-tooltip data-md-direction="top"> Warning ({{missingPricesData.items.length}})</md-tooltip>-->
<!--            </md-button>-->

<!--            <md-button data-ng-click="clearUseFromAboveFilters()">-->
<!--                <ng-md-icon size="24" icon="leak_remove"></ng-md-icon>-->
<!--                <md-tooltip data-md-direction="top">Clear Link to Selection filters</md-tooltip>-->
<!--            </md-button>-->

            <!--<md-button data-ng-if="!fillInModeData"-->
                       <!--data-ng-click="enableFillInMode()">-->
                <!--<ng-md-icon size="24" icon="zoom_out_map"></ng-md-icon>-->
                <!--<md-tooltip data-md-direction="top">Expand component</md-tooltip>-->
            <!--</md-button>-->

            <!--<md-button class="md-button dashboard-component-settings-btn"-->
                       <!--aria-label="dashboard component settings btn"-->
                       <!--data-ng-click="openComponentSettingsEditorDialog($event)">-->
                <!--<ng-md-icon size="24" icon="settings"></ng-md-icon>-->
                <!--<md-tooltip md-direction="top">Edit component settings</md-tooltip>-->
            <!--</md-button>-->

            <!--<md-menu class="dashboard-component-settings-menu">
                <md-button class="md-button dashboard-component-settings-btn"
                           aria-label="dashboard component settings btn"
                           data-ng-click="$mdOpenMenu($event)">
                    <ng-md-icon size="24" icon="settings"></ng-md-icon>
                    <md-tooltip md-direction="top">Component settings</md-tooltip>
                </md-button>

                <md-menu-content>
                    <md-menu-item>
                        <md-button class="md-button dashboard-component-settings-btn"
                                   data-ng-click="openComponentSettingsEditorDialog($event)"
                                   aria-label="dashboard component settings btn">
                            Edit component settings
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>-->
<!--        </div>-->
<!--    </div>-->

    <div data-ng-include="'views/entity-viewer/dashboard-report-viewer.html'" class="report-data-layer-wrapper"></div>

</div>

<div data-ng-if="readyStatus.data === 'processing'" class="dashboard-component-loader-holder">
    <div layout="row" layout-sm="column" layout-align="space-around" class="dashboard-component-loader">
        <progress-circular diameter="20"></progress-circular>
    </div>
</div>

<div data-ng-if="readyStatus.data === 'error'" class="center-text-message">
    <span data-ng-bind="compErrorMessage"></span>
</div>