body {
	font: 400 16px/1.2 $font-family, sans-serif;
	color: $text;
	overflow: initial;
}
html {
	overflow: initial !important;
}
button {
	white-space: nowrap;
}
p {
	line-height: 1.35;
}
a {
	color: $text;
}
input[type=file] {
	display: none;
}
input, textarea {
	font: 400 16px/1.2 $font-family, sans-serif;
	color: $text;
}

.ev_top_panel {
	height: 50px;
}

::-webkit-scrollbar-thumb {
	background: $primary-lighten;
	border: 3px solid #fff;
}
::-webkit-scrollbar-track {
	background: #fff;
	border-left: 1px solid #fff;
}
::-webkit-scrollbar {
	height: 8px;
	width: 10px;
}

