body {
	background: #fff;
	font: 400 16px/1.2 $font-family, sans-serif;
	color: #202020;
}

button {
	white-space: nowrap;
}

::-webkit-scrollbar-thumb {
	background: $c1;
	border: 3px solid #fff;
}
::-webkit-scrollbar-track {
	background: #fff;
	border-left: 1px solid #fff;
}
::-webkit-scrollbar {
	height: 8px;
	width: 10px;
}
p {
	line-height: 1.35;
}
