body {
    font: 400 16px/1.2 $font-family, sans-serif;
	background-color: var(--base-backgroundColor);
	color: var(--secondary-color);
    overflow: initial;
	font-size: 100%;
}
html {
    overflow: initial !important;
}
button {
    font-family: $font-family, sans-serif;
    white-space: nowrap;
	color: var(--secondary-color);
}
p {
    line-height: 1.35;
}
a {
	color: var(--secondary-color);
}
input[type=file] {
    display: none;
}
input, textarea {
    font: 400 16px/1.2 $font-family, sans-serif;
	color: var(--secondary-color);
}
input::placeholder, textarea::placeholder {
	color: var(--secondary-color);
}
.ev_top_panel {
    height: 50px;
}
textarea {
    border: 1px solid;
}

//# region Scrollbar
::-webkit-scrollbar-thumb, .split_panel_main::-webkit-scrollbar-thumb {
	background: transparent;
}
::-webkit-scrollbar-thumb, .split_panel_main::-webkit-scrollbar-thumb {
	background-color: var(--scrole-color);
	border-radius: 10px;
	border: 2px solid var(--base-backgroundColor);
}
::-webkit-scrollbar-thumb:active, .split_panel_main:active::-webkit-scrollbar-thumb {
	background-color: var(--primary-hover);
}
::-webkit-scrollbar-thumb:hover, .split_panel_main::-webkit-scrollbar-thumb {
	border: 0;
}

::-webkit-scrollbar:hover, .split_panel_main::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track, .split_panel_main::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-track:hover, .split_panel_main::-webkit-scrollbar-track {
	background: var(--table-header-background-color);
}
::-webkit-scrollbar, .split_panel_main::-webkit-scrollbar {
	height: 8px; // for horizontal scrollbar
	width: 7px;
}
//# endregion

//# region TODO: remove after fixing CSS variables related to font inside the Finmars UI Library
.display-large-font {
	font: 400 57px/64px "SF Pro Display";
}

.display-medium-font {
	font: 400 45px/52px "SF Pro Display";
}
//# endregion
