.fm_container {
	padding: 15px $content-padding-x 0;
}
.fm_page_title {
	font-size: 24px;
	margin-bottom: 15px;
}
.fm_list {
	background: $separ;
}
.fm_list_item {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 16px;
	cursor: pointer;
	transition: 0.3s;
	white-space: nowrap;

	&:hover {
		background: $main;
	}
	&.active {
		background: $main-darken;
	}
	& + & {
		border-top: 1px solid $border;
	}
}

// Card
.fm_card_title {
	font-size: 24px;
	margin-bottom: 25px;
}


.pb-80 {
	padding-bottom: 80px;
}
