.fm_container {
	padding: 15px $content-padding-x;
}
.fm_page_title {
	font-size: 24px;
	margin-bottom: 15px;
}
.fm_drop {
	background: $separ;
}
.fm_list_item {
display: flex;
align-items: center;
// height: 40px;
height: 36px;
padding: 0 16px;
cursor: pointer;
transition: 0.3s;
white-space: nowrap;

&:hover {
	background: $main;
}
&.active {
	background: $main-darken;
}
& + & {
	border-top: $opts-borders;
}
}

// Custom inputs
.bi_default {
	.bi_main_input {
		width: 100%;
		height: inherit;
	}
}

// Card
.fm_card_title {
	font-size: 24px;
	margin-bottom: 25px;
}
.fm_card_subtitle {
	color: $text-lighten;
	margin-top: -20px;
	padding-bottom: 24px;
}
.fm_card_text {
	color: $text-lighten;
}
.fm_tabs {
	display: flex;
	background: $separ;
	border-bottom: 1px solid $border;
	height: 48px;
	line-height: 48px;

	&_item {
		height: inherit;
		line-height: inherit;
		padding: 0 $content-padding-x;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.4px;
		transition: background 0.3s;
		cursor: pointer;

		&:hover {
			background: $main-darken;
		}
		&.active {
			color: $primary;
			border-bottom: 2px solid $primary;

			&:hover {
				background: $primary-lighten-2;
			}
		}
	}
}
