<md-dialog class="draggable-dialog width-70" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Scenario Fields Manager</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <div class="p-24">

            <div data-ng-repeat="field in vm.item.fields" layout="row">

                <md-input-container class="no-error-spacer">
                    <label>Reference Name</label>
                    <input type="text"
                           data-ng-model="field.reference_name">
                </md-input-container>

                <md-input-container class="no-error-spacer">
                    <label>Description</label>
                    <input type="text"
                           data-ng-model="field.description">
                </md-input-container>

                <div layout="row">

                    <md-input-container class="no-error-spacer">
                        <label>Value - text</label>
                        <input type="text"
                               data-ng-model="field.value_string">

                    </md-input-container>

                    <expression-editor-button data-item="field.value_string"></expression-editor-button>

                </div>

                <div layout="row">

                    <md-input-container class="no-error-spacer">
                        <label>Value - number</label>
                        <input type="text"
                               data-ng-model="field.value_float">
                    </md-input-container>

                    <expression-editor-button data-item="field.value_float"></expression-editor-button>

                </div>

                <div layout="row">

                    <md-input-container class="no-error-spacer">
                        <label>Value - date</label>
                        <input type="text"
                               data-ng-model="field.value_date">
                    </md-input-container>

                    <expression-editor-button data-item="field.value_date"></expression-editor-button>

                </div>

                <md-button class="md-button md-warn"
                           ng-click="vm.deleteRow($event, $index)">
                    Delete
                </md-button>

            </div>

            <md-button class="md-raised" data-ng-click="vm.addRow($event)">Add Row</md-button>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="vm.cancel()">
            Close
        </md-button>
        <md-button class="md-raised" ng-click="vm.agree()" style="margin-right:20px;">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>