<md-dialog aria-label="" ng-cloak class="transaction-mapping-input-mapping-dialog draggable-dialog" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <is-draggable-sign></is-draggable-sign>

            <h2>Transaction import scheme - Inputs</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content  >
        <md-content>
            <div>

                <div data-ng-if="vm.checkReadyStatus()">

                    <h2>Expression / <span data-ng-bind="vm.transactionType.name"></span></h2>

                    <div data-ng-repeat="item in vm.inputs">

                        <div layout="row">

                            <div flex="40">
                                <span data-ng-bind="item.verbose_name"></span> (<span data-ng-bind="item.name"></span>)
                            </div>

                            <div layout="row" flex="50">
                                <div flex="80">
                                    <md-input-container>
                                        <label for="" data-ng-bind="vm.bindType(item)"></label>
                                        <input type="text" data-ng-model="item.mapping.expression">
                                    </md-input-container>
                                </div>
                                <div flex="20">
                                    <expression-editor-button data-item="item.mapping.expression" data-data="{groups: [vm.inputsGroup], functions: [vm.inputsFunctions]}"></expression-editor-button>
                                </div>
                            </div>
                            <div flex="10" data-ng-if="item.value_type == 100">
                                <md-button class="md-primary md-raised import-mapping-small-btn" data-ng-click="vm.openMapping(item, $event)">
                                    <ng-md-icon icon="import_contacts" size="20"></ng-md-icon>
                                </md-button>
                            </div>

                        </div>

                    </div>

                </div>

                <div data-ng-if="!vm.checkReadyStatus()">
                    <div layout="row" layout-sm="column" layout-align="space-around" class="m-large">
                        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
                    </div>
                </div>

            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button class="md-raised" ng-click="vm.cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
        <md-button class="md-raised" ng-click="vm.agree()" style="margin-right:20px;">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>