<div class="complex-dropdown-select-popup">

    <complex-dropdown-select-menu model="popupData.selectedOptions"
                                  menu-options="popupData.menuOptions"
                                  favorite-options="popupData.favoriteOptions"
                                  show-descriptions="popupData.showDescriptions"
                                  popup-data="_$popup"
                                  select-option-callback="popupData.selectOptionCallback(groupName, option, _$popup)"></complex-dropdown-select-menu>

</div>