<div class="popup-area-container grid-table-popup">

    <div class="popup-area-main">
        <text-input label="Override Name"
            placeholder-text="Override Name"
            model="popupData.option.override_name">
        </text-input>
    </div>

    <div class='popup-area-footer'>
        <md-button class='m-l-0' data-ng-click='popupData.cancel(popupData, _$popup)'>Cancel</md-button>
        <md-button class='m-r-0' data-ng-click='popupData.save(_$popup)'>Agree</md-button>
    </div>
</div>