<md-tabs md-dynamic-height md-border-bottom id="dialogbag">
    <md-tab label="Transaction" md-active="vm.checkActiveTab('transaction')"
            data-ng-click="vm.setActiveTab('transaction')">
        <md-content>
            <div>
                <div data-ng-if="vm.readyStatus.content">
                    <div data-ng-include="'views/entity-viewer/entity-viewer-view.html'"></div>
                </div>
                <div data-ng-if="!vm.readyStatus.content">
                    <div class="e-data-loader" layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-diameter="100" md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="Instrument" md-active="vm.checkActiveTab('instrument')"
            data-ng-click="vm.setActiveTab('instrument')">
        <md-content class="md-padding">
            <div data-ng-if="vm.readyStatus.instrument" class="audit-wrapper">
                <div layout="column">
                    <div flex layout="row">
                        <div flex="10" layout="row" class="audit-cell">
                            <span class="no-select">Date</span>
                        </div>
                        <md-divider></md-divider>
                        <div flex="10" layout="row" class="audit-cell">
                            <span class="no-select">Time</span>
                        </div>
                        <md-divider></md-divider>
                        <div flex="10" flex layout="row" class="audit-cell" layout-align="center center">
                            <span class="no-select">Member</span>
                        </div>
                        <md-divider></md-divider>
                        <div flex="10" flex layout="row" class="audit-cell" layout-align="center center">
                            <span class="no-select">User code</span>
                        </div>
                        <md-divider></md-divider>
                        <div flex="10" flex layout="row" class="audit-cell" layout-align="center center">
                            <span class="no-select">Field</span>
                        </div>
                        <md-divider></md-divider>
                        <div flex="10" flex layout="row" class="audit-cell" layout-align="center center">
                            <span class="no-select">Old value</span>
                        </div>
                        <md-divider></md-divider>
                        <div flex="10" flex layout="row" class="audit-cell" layout-align="center center">
                            <span class="no-select">New value</span>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" class="audit-cell" layout-align="center center">
                            <span class="no-select">Action</span>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div layout="column" data-ng-repeat="item in vm.instruments">
                    <div layout="row">
                        <div flex layout="row">
                            <div flex="10" layout="row" class="audit-cell">
                                <span class="no-select" data-ng-bind="item.dateFormatted"></span>
                            </div>
                            <md-divider></md-divider>
                            <div flex="10" layout="row" class="audit-cell">
                                <span class="no-select" data-ng-bind="item.timeFormatted"></span>
                            </div>
                            <md-divider></md-divider>
                            <div flex="10" layout="row" class="audit-cell" layout-align="center center">
                                <span class="no-select" data-ng-bind="item.member.username"></span>
                            </div>
                            <md-divider></md-divider>
                            <div flex="10" layout="row" class="audit-cell" layout-align="center center">
                                <span class="no-select" data-ng-bind="item.object_repr"></span>
                            </div>
                            <md-divider></md-divider>
                            <div flex="10" layout="row" class="audit-cell" layout-align="center center">
                                <span class="no-select" data-ng-bind="item['field_name']"></span>
                            </div>
                            <md-divider></md-divider>
                            <div flex="10" layout="row" class="audit-cell" layout-align="center center">
                                <span class="no-select" data-ng-bind="item['old_value']"></span>
                            </div>
                            <md-divider></md-divider>
                            <div flex="10" layout="row" class="audit-cell" layout-align="center center">
                                <span class="no-select" data-ng-bind="item['value']"></span>
                            </div>
                            <md-divider></md-divider>
                            <div flex layout="row" class="audit-cell" layout-align="center center">
                                <span class="no-select" data-ng-bind="item.message"></span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div layout="row">
                    <div paging
                         page="vm.instrumentCurrent"
                         page-size="vm.itemPerPage"
                         total="vm.instrumentTotal"
                         paging-action="vm.changePage('instrument', page)"
                         class="global-pagination-div">
                    </div>
                </div>
            </div>
            <div data-ng-if="!vm.readyStatus.instrument" class="dialog-loader">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>