<div data-ng-if="item">
    <fieldset class="standard" style="padding-top: 15px">
        <legend>Add buttons</legend>
        <md-checkbox data-ng-model="item.options.dateTodayMinus" aria-label="checkbox">
            T - 1
        </md-checkbox>
        <md-checkbox data-ng-model="item.options.dateToday" aria-label="checkbox">
            T
        </md-checkbox>
        <md-checkbox data-ng-model="item.options.dateTodayPlus" aria-label="checkbox">
            T + 1
        </md-checkbox>
    </fieldset>
</div>