<div>
    <md-input-container class="md-block no-error-spacer no-input-arrows">
        <label>Row count</label>
        <input data-ng-model="item.options.rowCount" type="number">
    </md-input-container>
    <!--<md-input-container class="md-block" flex-gt-sm>-->
        <!--<label>Frame</label>-->
        <!--<md-select ng-model="item.options.frame">-->
            <!--<md-option value="0">-->
                <!--No border-->
            <!--</md-option>-->
            <!--<md-option value="1">-->
                <!--Border-->
            <!--</md-option>-->
        <!--</md-select>-->
    <!--</md-input-container>-->
</div>