<md-dialog aria-label="" ng-cloak class="draggable-dialog width-50" drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Entity Viewer Split Panel Component</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="p-24">

            <md-input-container style="width: 200px;">
                <label for="">Name</label>
                <input type="text" data-ng-model="vm.item.name">
            </md-input-container>


        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree()" style="margin-right:20px;">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>