<md-dialog aria-label="dashboard constructor report viewer split panel dialog"
           class="draggable-dialog width-50 dialog-actions-bottom dcRvSplitPanelElemToDrag"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Report Viewer Component</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div style="min-width: 900px; min-height: 400px;">

            <md-tabs md-dynamic-height>
                <md-tab label="MAIN">
                    <md-content class="p-16">

                        <md-input-container style="width: 200px;">
                            <label for="">Name</label>
                            <input type="text" data-ng-model="vm.item.name">
                        </md-input-container>

                        <div>
                            <md-input-container style="width: 200px;">
                                <label for="">Report label</label>
                                <input type="text" data-ng-model="vm.item.custom_component_name">
                            </md-input-container>
                        </div>

                        <div class="m-t-16 m-b-16">

                            <md-input-container style="width: 200px;">
                                <label for="">Report Type</label>
                                <md-select data-ng-model="vm.item.settings.entity_type"
                                           data-ng-change="vm.reportTypeChange()">
                                    <md-option value="balance-report">Balance Report</md-option>
                                    <md-option value="pl-report">P&L Report</md-option>
                                    <md-option value="transaction-report">Transaction Report</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div class="m-t-16 m-b-16">
                            <expandable-items-selector data-model="vm.item.settings.layout"
                                                       data-title="Layout"
                                                       data-dialog-title="Choose layout"
                                                       data-items="vm.layoutsWithLinkToFilters"
                                                       data-is-disabled="!vm.item.settings.entity_type"
                                                       data-on-change-callback="vm.showLinkingToFilters()"
                                                       class="dashboard-constructor-selector-directive"></expandable-items-selector>
                        </div>

                        <!--<h4>Linked Components</h4>

                        <div>
                            <div class="m-t-16 m-b-16" >

                                <md-input-container style="width: 200px;">
                                    <label for="">Report Viewer / Report Viewer Matrix</label>
                                    <md-select data-ng-model="vm.item.settings.linked_components.active_object" multiple>
                                        <md-option
                                                data-ng-repeat="componentType in vm.reportViewerComponentTypes | orderBy:'-name' track by componentType.id "
                                                ng-value="componentType.id">{{componentType.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>
                        </div>-->

                    </md-content>
                </md-tab>

                <md-tab label="MENU SETTINGS">
                    <md-content class="p-16">
                        <!-- <two-fields-multiselect ng-model="vm.item.user_settings.manage_columns"
                                                 title="Report Columns"
                                                 items="vm.multiselectorAttrs"
                                                 model="vm.item.user_settings.manage_columns"
                                                 name-property="name"></two-fields-multiselect>-->
                        <table-attributes-menu-constructor title="Available Columns"
                                                           dialog-title="Available Columns"
                                                           model="vm.item.user_settings.manage_columns"
                                                           is-report="'true'"
                                                           available-attrs="vm.attributes"></table-attributes-menu-constructor>
                    </md-content>
                </md-tab>

                <md-tab label="LINKING">
                    <md-content class="p-16">

                        <div data-ng-if="vm.linkingToFilters && vm.linkingToFilters.length">
                            <h4 class="m-t-0 m-b-16">Link to Selection filters of layout</h4>
                            <div class="dashboard-constructor-linked-filters-container">
                                <ui>
                                    <li data-ng-repeat="lFilter in vm.linkingToFilters">
                                        <span data-ng-bind="lFilter.name"></span>
                                    </li>
                                </ui>
                            </div>
                            <!--<div class="dashboard-constructor-linked-filters-ui">
                                <div data-ng-repeat="lFilter in vm.linkingToFilters"
                                    data-ng-bind="lFilter.name"
                                    class="m-b-8 test-class"></div>
                            </div>-->
                        </div>

                        <div layout="row">
                            <div flex="50">
                                <two-fields-multiselect ng-model="vm.item.settings.linked_components.active_object"
                                                        title="Select Link to Component"
                                                        items="vm.componentsForMultiselector"
                                                        model="vm.item.settings.linked_components.active_object"
                                                        name-property="name"
                                                        data-selected-items-indication="array"
                                                        class="dashboard-constructor-selector-directive"></two-fields-multiselect>
                            </div>
                        </div>

                        <md-input-container style="height: 58px">

                            <md-checkbox data-ng-model="vm.item.settings.auto_refresh" aria-label="member permission">Trigger
                                Refresh on Value Change
                            </md-checkbox>

                        </md-input-container>

                    </md-content>
                </md-tab>
            </md-tabs>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
        <md-button ng-click="vm.agree()" style="margin-right:20px;">
            OK
        </md-button>

        <dialog-window-resizer data-ng-if="vm.dialogElemToResize"
                               data-elem-to-resize="vm.dialogElemToResize"
                               data-on-resize-callback="vm.rearrangeMdDialogActions()"
                               class="dialog-window-resizer_type1"></dialog-window-resizer>
    </md-dialog-actions>
</md-dialog>