<md-dialog aria-label="dashboard grand total constructor dialog"
           class="draggable-dialog width-50"
           drag-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Report Viewer Grand Total Component</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div>

            <md-tabs>
                <md-tab label="Main">
                    <md-content class="p-16">

                        <md-input-container style="width: 200px;">
                            <label for="">Name</label>
                            <input type="text" data-ng-model="vm.item.name">
                        </md-input-container>

                        <div>
                            <md-input-container class="dashboard-constructor-field1">
                                <label for="">Label</label>
                                <input type="text" data-ng-model="vm.item.custom_component_name">
                            </md-input-container>
                        </div>

                        <!-- <div class="m-t-16 m-b-16">

                            <md-input-container style="width: 200px;">
                                <label for="">Report Type</label>
                                <md-select data-ng-model="vm.item.settings.entity_type"
                                           data-ng-change="vm.reportTypeChange()">
                                    <md-option value="balance-report">Balance Report</md-option>
                                    <md-option value="pl-report">P&L Report</md-option>
                                    <md-option value="transaction-report">Transaction Report</md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div class="m-t-16 m-b-16">
                            <expandable-items-selector data-model="vm.item.settings.layout"
                                                       data-title="Layout"
                                                       data-dialog-title="Choose layout"
                                                       data-items="vm.layoutsWithLinkToFilters"
                                                       data-is-disabled="!vm.item.settings.entity_type"
                                                       data-on-change-callback="vm.showLinkingToFilters()"
                                                       class="dashboard-constructor-selector-directive"></expandable-items-selector>
                        </div> -->
                        <div style="width: 400px;" class="m-l-10 m-b-16">
                            <div ng-if="vm.readyStatus.layouts">
                                <multitype-field label="Select layout"
                                                 field-types-data="vm.layoutsSelectorsList"
                                                 type-switch="selector"
                                                 on-value-change="vm.onLayoutChange()"
                                                 on-type-change="vm.onLayoutEntityTypeChange(activeType)"></multitype-field>
                            </div>

                            <div ng-if="!vm.readyStatus.layouts" class="flex-row fc-space-around" style="height: 40px;">
                                <progress-circular diameter="30"></progress-circular>
                            </div>
                        </div>

                        <div class="m-t-16 m-b-16">

                            <div layout="row">

                                <md-input-container style="width: 200px;">
                                    <label for="">Attribute</label>
                                    <md-select data-ng-model="vm.item.settings.grand_total_column"
                                               md-on-close="searchTerm = ''"
                                               ng-class="{'disabled-btn': !vm.item.settings.entity_type}">
                                        <md-select-header>
                                            <input data-ng-model="searchTerm"
                                                   type="search"
                                                   placeholder="Search for a ..."
                                                   class="md-text md-select-search-pattern select-input-filter"
                                                   ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-option
                                                data-ng-repeat="attribute in vm.attributes | orderBy:'-name' | filter:{name: searchTerm} track by attribute.key "
                                                ng-value="attribute.key">
                                            {{attribute.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-button class="md-raised md-primary" ng-click="vm.openNumberFormatSettings($event)"
                                           style="margin-right:20px;">
                                    Format Settings
                                </md-button>

                            </div>

                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="LINKING">
                    <md-content class="p-16">
                        <div data-ng-if="vm.linkingToFilters && vm.linkingToFilters.length">
                            <h4 class="m-t-0 m-b-16">Link to Selection filters of layout</h4>
                            <div class="dashboard-constructor-linked-filters-container">
                                <ui>
                                    <li data-ng-repeat="lFilter in vm.linkingToFilters">
                                        <span data-ng-bind="lFilter.name"></span>
                                    </li>
                                </ui>
                            </div>
                            <!--<div class="dashboard-constructor-linked-filters-ui">
                                <div data-ng-repeat="lFilter in vm.linkingToFilters"
                                    data-ng-bind="lFilter.name"
                                    class="m-b-8 test-class"></div>
                            </div>-->
                        </div>

                        <div layout="row">
                            <div flex="50">
                                <two-fields-multiselect ng-model="vm.item.settings.linked_components.active_object"
                                                        title="Select Link to Component"
                                                        items="vm.componentsForMultiselector"
                                                        model="vm.item.settings.linked_components.active_object"
                                                        name-property="name"
                                                        data-selected-items-indication="array"
                                                        class="dashboard-constructor-selector-directive"></two-fields-multiselect>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="CALCULATION">
                    <md-content class="p-16"
                                data-ng-include="'views/dialogs/dashboard-constructor/dashboard-component-settings-calculation-tab-view.html'">
                    </md-content>
                </md-tab>

            </md-tabs>


        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">

        <md-button ng-click="vm.exportToDashboards()" style="margin-right:20px;">
            Export to dashboards
        </md-button>

        <md-button ng-click="vm.cancel()" style="margin-right:20px;">
            Cancel
        </md-button>

        <md-button ng-click="vm.agree()" style="margin-right:20px;">
            OK
        </md-button>

    </md-dialog-actions>
</md-dialog>