<div class="ev-active-row-actions">
    <md-button custom-popup
               popup-template-url="'views/popups/selector-popup-view.html'"
               popup-data="popupData"
               open-on="click"
               position-relative-to="element"
               close-on-click-outside="closeOnClickOutside"

               style="margin: 0 0 0 20px;"
               class="selector-btn">
        Bulk actions
        <span class="arrow_downward-icon material-icons">arrow_drop_down</span>
    </md-button>
</div>